/*
 * M-Store | Modern E-Commerce Template
 * Copyright 2016 rokaux
 * Theme Styles
 * Dependencies: Bourbon
 */
/* @import "bourbon/bourbon"; // http://bourbon.io/

// Core variables and mixins
@import "bs-variables";
@import "variables";
@import "mixins";

// Core CSS
@import "scaffolding";
@import "typography";
@import "forms";
@import "tables";
@import "buttons"; */
/* 
@import "preloader";
@import "grid";
@import "social-buttons";
@import "navbar";
@import "carousel";
@import "gallery";
@import "blog";
@import "shop";
@import "widgets";
@import "components";
@import "tooltips";
@import "navs";
@import "panels";
@import "pagination";
@import "footer"; */
.topheader {
  background-color: #EEE; }

.page {
  padding: 20px 0px; }

p.header {
  background-color: #EEE;
  padding: 2px 6px; }

.table td {
  padding: 6px; }

.qrcode {
  height: 100px; }

.row {
  padding: 8px 0px; }

.form-inline {
  padding: 4px 0px; }

.tags i {
  display: none; }

.btn.active:focus, .btn:focus {
  box-shadow: none;
  outline: none; }

.space_t {
  margin-top: 15px; }

.space_b {
  margin-bottom: 15px; }

.space_t2 {
  margin-top: 30px; }

.space_b2 {
  margin-bottom: 30px; }
