@font-face {
  font-family: 'kanitlight';
  src: url("../fonts/kanit-light-webfont.woff2") format("woff2"), url("../fonts/kanit-light-webfont.woff") format("woff"), url("../fonts/kanit-light-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'kanitmedium';
  src: url("../fonts/kanit-medium-webfont.woff2") format("woff2"), url("../fonts/kanit-medium-webfont.woff") format("woff"), url("../fonts/kanit-medium-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
