$b : 1px solid #f09;
$bd : 1px solid #f0f0f0;

$cblue : #212657;


@font-face {
    font-family: 'kanitlight';
    src: url('../fonts/kanit-light-webfont.woff2') format('woff2'),
         url('../fonts/kanit-light-webfont.woff') format('woff'),
         url('../fonts/kanit-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'kanitmedium';
    src: url('../fonts/kanit-medium-webfont.woff2') format('woff2'),
         url('../fonts/kanit-medium-webfont.woff') format('woff'),
         url('../fonts/kanit-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'kanitregular';
    src: url('../fonts/kanit-regular-webfont.woff2') format('woff2'),
         url('../fonts/kanit-regular-webfont.woff') format('woff'),
         url('../fonts/kanit-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'kanitlight', sans-serif;
  // font-family: 'Helvetica', 'edsenseregular', sans-serif;
  // font-family: 'cloudlight';
  // font-family: 'cloudbold';
  // font-family: 'quarklight';
	margin-bottom: 0px;
  strong{
  	// font-family: 'cloudbold';
    font-family: 'kanitregular';

  	// font-family: 'kanitlight';
  	// font-family: 'quarkbold';
  }
}
p{
	margin-bottom: 10px;
}
.container{
	width: 100%;
	@media screen and (min-width: $container-large-desktop){
		max-width: 1140px;
	}
}

.site-logo{
	width: 100% \9;
    padding: 10px 0px 0px 0px;
    margin-bottom: -7px;
    // border: $b; 
    // float: left;
}

// Main Navigation
.submenu {
	border-bottom: $bd;
	background-color: white;
	display: block;
	position: absolute;
	z-index: 20;
	width: 100%;
	// height: 16px;
	left: 0;
	top: 0;
	padding: {
		right: ($toolbar-width-desktop + 50);
		left: ($image-logo-width + 145);
	}
	a{
		font-family: 'kanitlight', sans-serif;
	}
	> .menu {
		border-right: $bd;
		list-style: none;
		padding: 0;
		margin: 0;
		li > a {
			height: auto;
			display: block;
			color: $nav-link-color;
			line-height: 28px;
			font: {
				size: $submenu-link-font-size;
				// line-height: 
				// weight: normal;
			}
			text: {
				transform: uppercase;
				decoration: none;
			}
		}
		> li {
			display: inline-block;
			position: relative;
			> a {
				height: auto;
				// line-height: ($navbar-min-height - 2);
				padding-right: 10px;
				padding-left: 10px;
				border-left: $bd;
			}
			&.current-menu-item > a,
			&.current_page_item > a,
			&.current-menu-ancestor > a,
			&.current-menu-parent > a,
			&:hover > a,
			&.active > a { 
				// color: $nav-link-hover-color; 
				// color: $link-hover-color;
				background-color: #f9f9f9;
			}

			// Sub-Menu
			.sub-menu {
				z-index: 20;
				display: none;
				position: absolute;
				width: $submenu-width;
				left: 0;
				top: 140%;
				list-style: none;
				margin: 0;
				margin-top: -14px;
				// padding: 20px;
				padding-left: 0px;
				text-align: left;
				background-color: $submenu-bg-color;
				border: $submenu-border;
				// border: 1px solid #f00;
				> li {
					margin-top: 8px;
					// border: 1px solid #f00;
					
					margin: 0px;
					&:first-child { margin-top: 0; }
					> a { 
						font-size: $submenu-link-font-size;
						padding: 6px 12px;
					}
					&.current-menu-item > a,
					&.current_page_item > a,
					&.current-menu-ancestor > a,
					&.current-menu-parent > a,
					&:hover > a { 
						// color: $nav-link-hover-color; 
						color: $nav-link-color;
						background-color: $gray-light;
					}
				}
			}
			&.menu-item-has-children {
				> a:after {
					display: inline-block;
					vertical-align: middle;
					font-family: 'Material Icons';
					content:"\e5c5";
					font-size: 1.2em;
					margin-left: 1px;
					margin-top: -2px;
					@include transform(rotate(0));
					@include transition(transform .3s);
				}
			}
			&:hover {
				.sub-menu {
					display: block;
					@include animation(slideUp .4s);
				}
			}
		}
	}
	&.text-center {
		> .menu > li > a {
			padding-right: 15px;
			padding-left: 15px;
		}
	}
	&.text-right {
		> .menu > li > a {
			padding-right: 0;
			padding-left: 30px;
		}
	}
}





header.navbar{
	padding: 0px;
	background-color: inherit;
	.menubar{
		border-bottom: 2px solid $brand-primary;
		// border-bottom: 5px dashed $brand-primary;
		// border-bottom: 2px solid $brand-primary;
		background-color: #f6f6f6;
	}
	// border:$b;
	// border-bottom: 2px solid $brand-info;
}
/* .main-navigation>.menu li>a:hover,
.main-navigation>.menu>li .sub-menu>li>a:hover{
	color: $link-hover-color;
} */

nav.main-navigation{
    // @media screen and (min-width: 0px){
    @media screen and (min-width: 1200px){
        position: relative;
        width: auto;
    // @extend .pull-left;
    display: inline-block;
    padding: 0px;
    top: 15px;
    // padding-top: 20px;
    // float: left;
    }
    @media screen and (max-width: 1200px){
    	padding-right: 0px;
    	padding-left: 140px;
    	padding-top: 26px;
    }
    // padding-right: 0px;
    // padding-left: 0px;
    // .menu{
        ul.menu{
        	/* @media screen and (min-width: 0px){
        		inline-block;
        	} */
            li{
        	// line-height: normal;

        	/* @media screen and (min-width: 0px){
        		inline-block;
        	} */
                a{
                    font-family: 'kanitmedium', sans-serif;
                    // font-family: 'kanitlight', sans-serif;
                    font-size: 100%;
                    // color: $brand-primary;
                    // color: red;
                }
                ul.sub-menu{
                	li.group{
                		padding: 6px 12px;
                	}
                	li{
                		a{
                			font-size: 100%;
                		}
                	}
                }
            }
        } 
    // }
}
.toolbar{
	// @extend .pull-right;
	// width: 250px;
	// text-align: right;
	// right: 0;
	width: auto;
	position: relative;
	top: 25px;
		right: 0;
	div.inner{
		// @extend .pull-right;
		width: auto;
		margin-top: 6px;
		> a{
			line-height: 78px;
		}
		> div{
			white-space: nowrap;
			a{
				// line-height: 78px;
    		// border: $b;
	    	}
	    }
	}
}

.account-btn{
	@extend .cart-btn;
			/* font-size: $toolbar-toggle-icon-size;
			color: $text-color;
			text-decoration: none;
			line-height: 1;
			@include transition(all .3s);
			> i {
				position: relative;
				display: inline-block;
				font-style: normal;
				opacity: 1;
				@include transform(translateY(0) scale(1));
				@include transition(transform .3s, opacity .15s);
			}
			&:hover { color: $gray; } */
	// width: auto;
	.name{
		display: inline-block;
		font-size: 14px;
		font-family: 'kanitlight', sans-serif;
		max-width: 120px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		// border: $b;
	}
	.sub-menu {
		// @extend .submenu .sub-menu;
		

				z-index: 20;
				display: none;
				position: absolute;
				// width: $submenu-width;
				// left: 0;
				right: 0;
				// top: 140%;
				list-style: none;
				margin: 0;
				margin-top: -14px;
				margin-right: 20px;
				// padding: 20px;
				padding-left: 0px;
				text-align: left;
				background-color: $submenu-bg-color;
				border: $submenu-border;
				// border: 1px solid #f00;
				> li {
					margin-top: 8px;
					// border : $b;
					// border: 1px solid #f00;
					margin: 0px;
					height: auto;
					&:first-child { margin-top: 0; }
					> a { 
						line-height: 20px;
						font-size: $submenu-link-font-size;
						padding: 6px 12px;
						text-decoration: none;
						white-space: nowrap;
						display: block;
						font-family: 'kanitlight', sans-serif;
						font-size: 100%;
					}
					&.current-menu-item > a,
					&.current_page_item > a,
					&.current-menu-ancestor > a,
					&.current-menu-parent > a,
					&:hover > a { 
						// color: $nav-link-hover-color; 
						color: $nav-link-color;
						background-color: $gray-light;
					}
				}
			}
		&:hover {
				.sub-menu {
					display: block;
					@include animation(slideUp .4s);
				}
			}
}

// #intro{
	#intro.hero-slide{
		margin-top: 104px;
		// border: $b;
				// height: 100%;
				.inner{
					.slide{
						// height: 460px;
						// background-position: center center;
						// background-image: url(../img/hero-slider/gradient_blue.jpg?1);
						background-color: #e4480b;
						// .container{

							padding: 0px;
							img{
								// max-width: none;
								// border: $b;
							}
						// }
					}
				}

			}
// }

#videobutton{
	// border: $b;
	position: absolute;
	margin: 180px 0px 0px 580px;
	p{
		display: inline-block;
		line-height: 62px;
		padding-left: 20px;
	}
	p, i{
		color: white;
	}
	a.video-popup-btn{
		border-color: white;
		border-width: 2px;
		height: 65px;
		width: 65px;
		i{
		line-height: 62px;
		}
	}
	/* .play_arrow{
		border: $b;
	} */
}


.hero-slider{
	.slide{
		height: 420px;
		.h1, .h2, .h3, .h4, .h5, .h6 {
			color: white;
		}
		.h1{
			font-size: 2.5em;
			line-height: 1.3em;
		}
		.h2{
			margin: 0px;
		}
		.container{
			padding: 40px 30px;
		}
		.btn{
			background-color: white;
			color: $gray;
		}
	}
	.owl-carousel{
		.owl-controls{
			.owl-nav{
				.owl-next, .owl-prev{
				font-size: 40px;
				width: auto;
				}
			}
		}
	}
}
.countdown{
	.item{
		margin: 0px 2px;
	}
}

.container{
	/* width: 1200px !important;
	padding-left: 0px;
	padding-right: 0px;
	margin: 0px;
	margin-right: 0px; */
}
.navbar{
	// min-width: 1200px;
}
/* .h1{
	font-size: 100px;
	line-height: .9em;
	@media (max-width: $screen-md-min) {
		font-size: 10px;
	}
} */
.box{
	border-radius: 10px;
	border: $bd;
	padding: 20px;

	div.mark{
		// @extend .pull right;
		// position: absolute;
		// border: $b;
		display: inline-block;
		float: right;
		font-size: 75%;
		color: $brand-primary;
	}
	.btn{
		margin: 0px;
	}
}
.special{
	display: none;
}
.specialSale{
	@extend .shop-label, .text-danger
}
.specialPopular{
	@extend .shop-label, .text-warning
}
.oldprice0{
	display: none;
}
#whatisceegadget{
	padding-top: 40px;
}


.shop-item-title,
.info-box h3{
	text-transform: uppercase;
}
.btn-primary{
	@extend .waves-effect, .waves-light
}
.btn{
	@extend .btn-sm;
	font-family: 'kanitregular';
	font-size: 90%;
}
.category-link{
	// border: $b;
	background-image: url('../img/categories/categories.jpg?1');
	height: 250px;
	width: 300px;
	background-size: cover;
	&#mobile{
		// background-position: -350px 0px;
		background-position: -220px 0px;
	}
	&#gadget{
		// background-position: 5px 0px;
		background-position: 20px 0px;
	}
	&#camera{
		// background-position: -700px 0px;
		background-position: -500px 0px;
	}
}
.form-horizontal{
	// border: $b;
	// display: block;
	// height: 0px;
	// bottom: 0;
	/* padding: 0px;
	padding-top: 0px;
	margin-top: 0px; */
	.form-group{
		margin-top: -20px;
		// border: $b;
		// margin-bottom: 10px;
		// padding-bottom: 10px;
		label{
			line-height: 36px;
			// margin-bottom: 0px;
		}
		p{
			line-height: 36px;
			margin-bottom: 8px;
		}
		input{
			margin-bottom: 8px;

		} 
	}
}
.form-control{
		@extend .form-control-sm;
		margin-bottom: 10px;

	}
.icheckbox{
			top:12px;
		}
.form-element {
	&.search{
		input.form-control {
			// border-color: $brand-primary;
			padding-right: $input-icon-size + 20;
			height: 2.8em;
			// border: #90c; 
		}
		&:before {
			// <i class="material-icons">&#xE62E;</i>
			// <i class="material-icons">voice_chat</i>
			content:"search";
			// content:"\e5c9";
			color: $brand-primary;
			opacity: 1;

		}
		&:focus { border-color: #f00; }
	}
}
.breadcrumbbar{
		// border-bottom: $bd;
		// background-color: $brand-primary;
	.breadcrumb{
		background-color: $brand-primary;
		// background-color: white;
		// background-color: inherit;
		display: inline-block;
		margin-bottom: 0px;
		padding: 2px 10px 2px 10px;
		border-radius: 0;
		li{
			font-family: 'kanitregular';
			color: white;
			&.active{
				color: $brand-success;
			}
			&:before {
			color: white;
			}
			a{
			color: white;
			text-decoration: none;
				&:hover{
					color: $cblue;
				}
			}
		}
	}
}

.productdetail{
	/* h1, h2{
		font-family: 'kanitregular';
		margin-bottom: 0px;
	} */
	/* h4{
		margin-bottom: 0px;
	} */
	.item-rating{
		// @extend .text-warning;
		color: $brand-primary;
		margin-top: -10px;
		// margin: 0px;
	}
	.spec{
		// @extend .row;
		div[class*="col-"]{
			// padding-left: 0px;
		}
	}
	.row{
		margin-bottom: 6px;
	}
	.form-group{
		div{
			line-height: 36px;
		}
	}
	.form-control, .form-select, .form-element, select{
		// width: inherit;
		width: auto;
	}
	.count-input{
		margin: 0px;
		display: inline-block;
	}
	.social-bar{
		margin-left: 20px;
	}
	.add-to-cart{
		margin-top: 10px;
	}
}
.productpics{
	.thumb{
		max-height: 80px;
		border: $bd;
		display: inline-block;
	}
}
.producttab{
	.review{
		padding: 16px 0px;
	}
	.item-rating{
		position: relative;
		display: inline-block;
		top:0;
		color: $brand-primary;
	}
	/* .table-no-border{
		th, td{
			padding: 2px;
		}
	} */
}

.cart-dropdown{
	padding: 8px;
	.cart-item{
		padding-bottom: 8px;
		margin-bottom: 8px;
		a.item-thumb{
			padding-right: 8px;
		}
		.item-details{
			h3.item-title{
				line-height: normal;
				a{
					line-height: normal;
				}
			}
		}
		a.close-btn{
			// line-height: normal;
			padding-right: 10px;
		}
	}
}


.shopping-cart{
	margin-bottom: 20px;
	.item{
		margin-top: 10px;
		padding-top: 10px;
		margin-bottom: 0px;
		padding-bottom: 0px;
		border:none;
		border-top: $bd;
	}
	.item-remove{
		margin-top: 10px;
	}
	&.checkout{
		.item{
			.item-thumb{
				width: 80px;
			}
			h4, h5, p{
				margin-bottom: 0px;
			}
		}
	}
}



.account{
	.btn{
		@extend .btn-sm;
		// @extend .space-bottom-none;
	}
	.social-signup-btn{
		// @extend .btn-sm;
	}
	.icheckbox{
		top: 3px;
	}
}
.profile, .address{
	h5{
		margin-bottom: 10px;
	}
	.material-icons{
		font-size: 120%;
		margin-right: 5px;
		// margin-top: -4px;
		float: left;
	}
	p{
		padding-left: 26px;
	}
	.profile-picture{
		img{
		margin-bottom: 10px;
		}
	}
}
.cardpayment{
	.form-group{
		label{
			padding-left: 0px;
		}
		>div{
			padding-right: 0px;
		}
	}
}
.number{
	border-radius: 50%;
	text-align: center;
	color: white;
	background-color: $brand-primary;
	display: inline-block;
	height: 36px;
	width: 36px;
	line-height: 36px;
	font-family: 'kanitregular';
}
// form-control-sm