/*
 * M-Store | Modern E-Commerce Template
 * Copyright 2016 rokaux
 * Theme Styles
 * Dependencies: Bourbon
 */

//Import Google Fonts (Work Sans)
// @import url(https://fonts.googleapis.com/css?family=Work+Sans:400,300,500,600);

// Bourbon SASS Mixins Library
/* @import "bourbon/bourbon"; // http://bourbon.io/

// Core variables and mixins
@import "bs-variables";
@import "variables";
@import "mixins";

// Core CSS
@import "scaffolding";
@import "typography";
@import "forms";
@import "tables";
@import "buttons"; */

// Components
/* 
@import "preloader";
@import "grid";
@import "social-buttons";
@import "navbar";
@import "carousel";
@import "gallery";
@import "blog";
@import "shop";
@import "widgets";
@import "components";
@import "tooltips";
@import "navs";
@import "panels";
@import "pagination";
@import "footer"; */
// @import "style";
.topheader{
	background-color: #EEE;
}
.page{
	padding: 20px 0px;
}
p.header{
	background-color: #EEE;
	padding: 2px 6px;
}
.page-wrapper{
	// padding: 18px; 
}
.table{
	td{
		padding: 6px;
	}
}
.qrcode{
	// @extend .pull-right;
	// float: right;
	height: 100px;
}
.row{
	padding: 8px 0px;
}
.form-inline{
	padding: 4px 0px;
}
.tags{
	i{
		display: none;
	}
}
button{

}
// button.btn:active, button.btn.active, .btn:active, .btn.active, input.btn:active, input.btn.active{
// button.btn-default:focus, button.btn-default.focus, .btn-default:focus, .btn-default.focus,  input.btn:focus, input.btn.focus{
.btn.active:focus, .btn:focus{
    box-shadow: none;
    outline:none;
}
.space_t{
	margin-top: 15px;
}
.space_b{
	margin-bottom: 15px;
}
.space_t2{
	margin-top: 30px;
}
.space_b2{
	margin-bottom: 30px;
}
