@@include('inc/wrapper_top.html')
<!-- <div class="container"> -->
<!-- @@include('inc/header.html') -->
@@include('inc/header.html', {"page": "login"})



  <!-- Content -->
  <section class="address container padding-bottom-2x">
    <!-- <h2>User Account</h2> -->
    <div class="row padding-top">
      <div class="col-md-12">
        <h2 class="padding-bottom">Shipping address</h2>
      </div>
    </div>

    <div class="row">

    <div class="col-md-4">
      <div class="box">
      <div class="mark">Default address</div>
      <h5>Address 1</h5>
        <i class="material-icons person"></i><p><strong>Ai você fala</strong></p>
        <i class="material-icons home"></i><p>
        63/21, Rattanatibet Road<br>
        Nonthaburi <br>11000 <br>Thailand
        </p>
        <i class="material-icons phone"></i>
        <p>66-81-5544141</p>
         <a href="address.html" class="btn btn-primary">แก้ไข</a>
         <a href="address.html" class="btn btn-primary">Delete</a>
      </div>
      </div>

    <div class="col-md-4">
      <div class="box">
      <h5>Address 2</h5>
        <i class="material-icons person"></i><p><strong>Ai você fala</strong></p>
        <i class="material-icons home"></i><p>
        63/21, Rattanatibet Road<br>
        Nonthaburi <br>11000 <br>Thailand
        </p>
        <i class="material-icons phone"></i>
        <p>66-81-5544141</p>
         <a href="address.html" class="btn btn-primary">แก้ไข</a>
         <a href="address.html" class="btn btn-primary">Delete</a>
      </div>
      </div>



    </div>





    <div class="row padding-top">
      <div class="col-md-12">
        <h2 class="padding-bottom">Add/Modify</h2>
      
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <!-- <div class="inner"> -->
          <form method="post" class="form-horizontal">

          <div class="form-group">
            <label class="col-sm-4">Contact Name</label>
            <div class="col-sm-8">
            <input type="text" class="form-control" placeholder="Name" required>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-4">Street Address</label>
            <div class="col-sm-8">
            <input type="text" class="form-control" placeholder="Address 1" required>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-8 col-sm-offset-4">
            <input type="text" class="form-control" placeholder="Address 2" required>
            </div>
          </div>


          <div class="form-group">
            <label class="col-sm-4">Province</label>
            <div class="col-sm-8">
            <input type="text" class="form-control" placeholder="Province" required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4">Postal Code</label>
            <div class="col-sm-8">
            <input type="text" class="form-control" placeholder="Postal Code" required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4">Phone</label>
            <div class="col-sm-8">
            <input type="text" class="form-control" placeholder="Phone" required>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-8 col-sm-offset-4">
              <div class="checkbox">
                  <input type="checkbox" id="setdefault"> <label for="setdefault">Set as default</label>
              </div>
            </div>
          </div>


<!-- 
            <input type="password" class="form-control" placeholder="Password" required>
            <input type="password" class="form-control" placeholder="Repeat password" required>
            
            <input type="text" class="form-control" placeholder="Age" required>

             -->
            <div class="form-footer col-sm-8 col-sm-offset-4">
              <!-- <div class="rememberme"></div> -->
              <div class="form-submit">
                <a href="address.html" class="btn btn-primary btn-block">Add</a>
              </div>
            </div>
          </form>
          <!-- .edit-form -->
        <!-- </div> --><!-- .inner -->
      </div><!-- .col-md-4.col-md-offset-1 -->
      <!-- </div> --><!-- .row -->


     
    </div><!-- .row -->
  </section><!-- .container -->


@@include('inc/footer.html')
@@include('inc/wrapper_bottom.html')
