@@include('inc/wrapper_top.html')
@@include('inc/header.html', {"page": "item"})


<div class="container">

    <div class="row padding-bottom padding-top">

        <div class="col-sm-4">
            <div class="shopping-cart checkout">
                <h4><span class="number">1</span> Shopping Cart</h4>

                <!-- Item -->
                <div class="item">
                  <a href="item-detail.html" class="item-thumb">
                    <img src="img/cart/item01.jpg" alt="Item">
                </a>
                <div class="item-details">
                    <h5 class="item-title"><a href="item-detail.html">Concrete Lamp</a></h5>
                    <p class="item-price">$85.90</p>
                </div>
                
            </div><!-- .item -->
            <!-- Item -->
            <div class="item">
              <a href="item-detail.html" class="item-thumb">
                <img src="img/cart/item02.jpg" alt="Item">
            </a>
            <div class="item-details">
                <h5 class="item-title"><a href="item-detail.html">Resin Storage Box</a></h5>
                <p class="item-price">$38.00</p>
            </div>
        </div><!-- .item -->
        <!-- Item -->
        <div class="item">
          <a href="item-detail.html" class="item-thumb">
            <img src="img/cart/item03.jpg" alt="Item">
        </a>
        <div class="item-details">
            <h5 class="item-title"><a href="item-detail.html">Ceramic Watch</a></h5>
            <p class="item-price">$299.00</p>
        </div>
    </div><!-- .item -->

    <!-- Item -->
        <div class="item">
          <!-- <div class="item-thumb"></div> -->
        <div class="item-details">
            <!-- <h5 class="item-title"><a href="item-detail.html">Ceramic Watch</a></h5> -->
            <p class="item-price">Subtotal $460.90</p>
        </div>
    </div><!-- .item -->

<!-- 
              <div class="cart-subtotal">
                <div class="column">
                  <span>Subtotal:</span>
                </div>
                <div class="column">
                  <span class="amount">$161.90</span>
                </div>
              </div> -->
</div>
    <a href="shopping-cart.html" class="btn btn-default">Modify cart</a>


</div>



<div class="col-sm-4">
    <h4 class="padding-bottom-half"><span class="number">2</span> Shipping addess</h4>
    <!-- <div class="padding-top-half"> -->
    <div class="form-element form-select">
    <select class="form-control">
       <option value="">Address 1</option>
       <option value="">Address 2</option>
   </select>
    <!-- </div> -->
    </div>

    <div class="padding-bottom-half">
    <div class="box">
      <h5>Address 1</h5>
        <i class="material-icons person"></i><p><strong>Ai você fala</strong></p>
        <i class="material-icons home"></i><p>
        63/21, Rattanatibet Road<br>
        Nonthaburi <br>11000 <br>Thailand
        </p>
        <i class="material-icons phone"></i>
        <p>66-81-5544141</p>
      </div>
    </div>
    <a href="address.html" class="btn btn-default">Modify address</a>
</div>




<div class="col-sm-4 cardpayment">
    <h4 class="padding-bottom-half"><span class="number">3</span> Payment</h3>
    <form method="post" class="form-horizontal">

        <div class="form-group">
            <label class="col-sm-4">Card Name</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="Card name" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4">Card Number</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="Card number" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-6">Expiry Date (mm/yyyy)</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="mm/yyyy" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4">Security code</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" placeholder="" required>
            </div>
            <!-- <label class="col-sm-5"><div class="cards"><img src="img/cards.png" alt="Cards"></div></label> -->
            <div class="col-sm-5"><div class="cards"><img src="img/cards.png" alt="Cards"></div></div>
        </div>
        <div class="clearfix"></div>

    </form>


    <h4 class="padding-top">Total: $460.90</h4>
    <a href="message.html" class="btn btn-primary btn-block">Confirm & pay</a>
    <p class="text-sm text-gray">* Note: E nós criamos um programa que eu queria falar para vocês, que é o Ciência sem Fronteiras. Por que eu queria falar do Ciência sem Fronteiras para vocês? É que em todas as demais... porque nós vamos fazer agora o Ciência sem Fronteiras 2. O 1 é o 100 000, mas vai ter de continuar fazendo Ciência sem Fronteiras no Brasil.</p>
</div>


</div><!-- row -->

</div>


@@include('inc/footer.html')
@@include('inc/wrapper_bottom.html')
