@@include('inc/wrapper_top.html')
@@include('inc/header.html', {"page": "item"})


<div class="container">

    <div class="row padding-top">	

     <div class="productpics col-sm-5">
      <img class="thumb" src="img/shop/th01.jpg">
      <img class="thumb" src="img/shop/th02.jpg">
      <img class="thumb" src="img/shop/th03.jpg">
      <img class="thumb" src="img/shop/th04.jpg">
      <img id="showproductpic" src="img/shop/th01.jpg"> 
  </div>
  <!-- productpics -->


  <div class="productdetail col-sm-7">
      <h2>
         Fidget Cube
     </h2> 
   <h4>ของเล่นคนมือยุกยิก</h4>
   <span class="item-rating myrate3">
       <i class="fa fa-star"></i>
       <i class="fa fa-star"></i>
       <i class="fa fa-star"></i>
       <i class="fa fa-star"></i>
       <i class="fa fa-star"></i>
   </span>

   <div class="spec padding-top padding-bottom">
    <form class="form-horizontal">

        <div class="row">
         <div class="col-sm-12">
          <p>The only kind of people I want counting my money are little short guys that wear yamakas every day.
             One of the key problems today is that politics is such a disgrace. Good people don’t go into government.
             The U.S. will invite El Chapo, the Mexican drug lord who just escaped prison, to become a U.S. citizen because our leaders can't say no!</P>
         </div>
     </div>
     <!-- <hr> -->
     <div class="row form-group">
         <div class="col-sm-2">ค่าเช่า:</div>
         <div class="col-sm-10">59 / วัน</div>
     </div>

     <div class="row form-group">
         <div class="col-sm-2">มัดจำ:</div>
         <div class="col-sm-10">30,000</div>
     </div>

     <div class="row form-group">
         <div class="col-sm-2">จำนวน:</div>
         <div class="col-sm-10">
            <div class="count-input">
               <a class="incr-btn" data-action="decrease" href="#">–</a>
               <input class="quantity" type="text" value="1">
               <a class="incr-btn" data-action="increase" href="#">+</a>
           </div>
       </div>
   </div>

   <div class="row form-group">
     <div class="col-sm-2">สี:</div>
     <div class="col-sm-10">
     <!-- <div class="form-element"> -->
        <select class="form-control">
         <option value="">แดง</option>
         <option value="">ดำ</option>
         <option value="">เทา</option>
       </select>
     <!-- </div> -->
</div>
</div>

<div class="row form-group padding-top">
 <div class="col-sm-2">ระยะเวลา:</div>
 <div class="col-sm-10">
  <div class="count-input">
   <a class="incr-btn" data-action="decrease" href="#">–</a>
   <input class="quantity" type="text" value="1">
   <a class="incr-btn" data-action="increase" href="#">+</a>
</div>
วัน
</div>
</div>

<div class="row form-group">
    <div class="col-sm-2"><strong>ราคารวม:</strong></div>
    <div class="col-sm-10"><strong>35,000</strong></div>
</div>

<a href="shopping-cart.html" class="add-to-cart">
    <em>Add to Cart</em>
</a>
<!-- <hr> -->
<div class="row form-group padding-top">
 <div class="col-sm-12">
  <div class="product-share">
   <span>Share this product: </span>
   <div class="social-bar">
    <a href="#" class="sb-facebook" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
       <i class="socicon-facebook"></i>
   </a>
   <a href="#" class="sb-twitter" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
       <i class="socicon-twitter"></i>
   </a>
   <a href="#" class="sb-instagram" data-toggle="tooltip" data-placement="top" title="" data-original-title="Instagram">
       <i class="socicon-instagram"></i>
   </a>
</div>
</div>
</div>
</div>


</form>
</div><!-- spec -->




</div><!-- productdetail -->
</div><!-- row -->

<div class="row producttab padding-top padding-bottom-2x">	

    <ul class="nav-tabs text-center" role="tablist">
        <li class="active"><a href="#description" role="tab" data-toggle="tab" aria-expanded="true">Description</a></li>
        <li class=""><a href="#additional" role="tab" data-toggle="tab" aria-expanded="false">Additional Info</a></li>
        <li class=""><a href="#reviews" role="tab" data-toggle="tab" aria-expanded="false">Feedbacks <sup>3</sup></a></li>
    </ul>

    <div class="tab-content">

        <div role="tabpanel" class="tab-pane transition fade in active" id="description">
          <div class="row space-top">
            <div class="col-md-6 space-bottom">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/6uK6BIVzcxU?ecver=1" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-6">
          <p>The only kind of people I want counting my money are little short guys that wear yamakas every day.
            When was the last time anybody saw us beating, let's say, China in a trade deal? They kill us. I beat China all the time. All the time.</p>
            <p>The U.S. will invite El Chapo, the Mexican drug lord who just escaped prison, to become a U.S. citizen because our leaders can't say no!
                The U.S. will invite El Chapo, the Mexican drug lord who just escaped prison, to become a U.S. citizen because our leaders can't say no!
                The concept of global warming was created by and for the Chinese in order to make U.S. manufacturing non-competitive.
            </p>
        </div>
    </div>
</div><!-- .tab-pane -->
<div role="tabpanel" class="tab-pane transition fade" id="additional">
  <div class="row">
    <div class="col-md-6">
      <table class="table-no-border">
        <tbody><tr>
          <th>Weight</th>
          <td>2.65 kg</td>
      </tr>
      <tr>
          <th>Dimensions</th>
          <td>120 x 75 x 90 cm</td>
      </tr>
      <tr>
          <th>Materials</th>
          <td>40% wood, 37% cotton, 23% plastic</td>
      </tr>
  </tbody></table>
</div>
<div class="col-md-6">
  <table class="table-no-border">
    <tbody><tr>
      <th>Colors</th>
      <td>Blue, Creme, Orange, Red</td>
  </tr>
  <tr>
      <th>Manufacturer</th>
      <td>Norway</td>
  </tr>
  <tr>
      <th>Other Info</th>
      <td>Repellendus ea laudantium pariatur eum.</td>
  </tr>
</tbody></table>
</div>
</div>
</div><!-- .tab-pane -->
<div role="tabpanel" class="tab-pane transition fade" id="reviews">
  <!-- Review -->
  <div class="review">
    <div class="review-author-ava">
      <img src="img/shop/reviews/01.jpg" alt="Review Author">
  </div>
  <div class="review-body">
      <div class="review-meta">
        <div class="column">
          <h4 class="review-title">Very stylish. Great Deal!</h4>
      </div>
      <div class="column">
          <span class="item-rating myrate3">
             <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
         </span>
     </div>
 </div>
 <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.</p>
 <cite>Jessie James</cite>
</div>
</div><!-- .review -->
<!-- Review -->
<div class="review">
    <div class="review-author-ava">
      <img src="img/shop/reviews/02.jpg" alt="Review Author">
  </div>
  <div class="review-body">
      <div class="review-meta">
        <div class="column">
          <h4 class="review-title">Nice nordic design, afordable price.</h4>
      </div>
      <div class="column">
       <span class="item-rating myrate3">
         <i class="fa fa-star"></i>
         <i class="fa fa-star"></i>
         <i class="fa fa-star"></i>
         <i class="fa fa-star"></i>
         <i class="fa fa-star"></i>
     </span>
 </div>
</div>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae sequi ipsa fugit officia eos! Sapiente laboriosam molestiae praesentium ducimus culpa. Magnam, odit, optio. Possimus similique eligendi explicabo, dolore, beatae sequi.</p>
<cite>Susanna Davis</cite>
</div>
</div><!-- .review -->
<!-- Review -->
<div class="review">
    <div class="review-author-ava">
      <img src="img/shop/reviews/03.jpg" alt="Review Author">
  </div>
  <div class="review-body">
      <div class="review-meta">
        <div class="column">
          <h4 class="review-title">Godd value for your money.</h4>
      </div>
      <div class="column">
          <span class="item-rating myrate2">
             <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
             <i class="fa fa-star"></i>
         </span>
     </div>
 </div>
 <p>Anuo ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.</p>
 <cite>Donald Murphy</cite>
</div>
</div><!-- .review -->
<!-- Reviview Form -->
<h4>Leave a review</h4>
<form method="post" class="row">
    <div class="col-sm-4">
      <div class="form-element">
        <input type="text" class="form-control form-control-sm" placeholder="Name*" required="">
    </div>
</div>
<div class="col-sm-4">
  <div class="form-element">
    <input type="email" class="form-control form-control-sm" placeholder="Email*" required="">
</div>
</div>
<div class="col-sm-4">
  <div class="form-element form-select">
    <select class="form-control form-control-sm">
      <option>5 stars</option>
      <option>4 stars</option>
      <option>3 stars</option>
      <option>2 stars</option>
      <option>1 star</option>
  </select>
</div>
</div>
<div class="col-sm-12">
  <div class="form-element">
    <textarea rows="8" class="form-control form-control-sm" placeholder="Review*" required=""></textarea>
</div>
<div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 col-lg-offset-9 col-md-offset-8 col-sm-offset-6">
      <button type="submit" class="btn btn-block btn-primary waves-effect waves-light space-top-none space-bottom-none">Leave Review</button>
  </div>
</div>
</div>
</form><!-- .row -->
</div><!-- .tab-pane -->
</div>


</div>

</div>


@@include('inc/footer.html')
@@include('inc/wrapper_bottom.html')
