@@include('inc/wrapper_top.html')
<!-- @@include('inc/header.html') -->
@@include('inc/header.html', {"page": "kit"})


    <!-- Featured Image -->
    <div class="featured-image" style="background-image: url(img/featured-image/elements.jpg);"></div>

    <!-- Content -->
    <section class="container padding-top-3x padding-bottom">
      <h1>Elements</h1>
      <div class="row">
        <div class="col-sm-3 padding-top space-bottom">
          <h5 class="text-uppercase text-gray text-thin space-bottom">Headings</h5>
          <h1>H1. Heading</h1>
          <h2>H2. Heading</h2>
          <h3>H3. Heading</h3>
          <h4>H4. Heading</h4>
          <h5>H5. Heading</h5>
          <h6>H6. Heading</h6>
        </div><!-- .col-sm-3 -->
        <div class="col-sm-5 padding-top space-bottom">
          <h5 class="text-uppercase text-gray text-thin space-bottom">Body Copy</h5>
          <p class="lead"><strong>Lead.</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          <p><strong>Normal.</strong> Lorem ipsum <a href="#">link here</a> dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
          <p class="text-sm"><strong>Small.</strong> Lorem ipsum <a href="#">link here</a> dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore occaecat cupidatat.</p>
          <p class="text-xs"><strong>Extra small.</strong> Lorem ipsum <a href="#">link here</a> dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore occaecat cupidatat.</p>
        </div><!-- .col-sm-5 -->
        <div class="col-sm-4 padding-top space-bottom-2x">
          <h5 class="text-uppercase text-gray text-thin space-bottom">Lists</h5>
          <ul class="list-featured">
            <li>Neque porro quisquam est, qui dolore</li>
            <li>Lorem <a href="#">ipsum dolor sit</a> amet, consectetur</li>
            <li>Excepteur sint occaecat cupidatat non</li>
            <li>Duis aute irure dolor in reprehenderit</li>
            <li>Nemo enim ipsam voluptatem quia</li>
          </ul>
          <ol>
            <li>Neque porro quisquam est, qui dolore</li>
            <li>Lorem <a href="#">ipsum dolor sit</a> amet, consectetur</li>
            <li>Excepteur sint occaecat cupidatat non</li>
            <li>Duis aute irure dolor in reprehenderit</li>
            <li>Nemo enim ipsam voluptatem quia</li>
          </ol>
        </div><!-- .col-sm-4 -->
      </div><!-- .row -->
      <div class="row">
        <div class="col-sm-5 space-bottom-2x">
          <h5 class="text-uppercase text-gray text-thin space-bottom">Contextual Colors</h5>
          <ul class="list-unstyled">
            <li class="text-gray"><strong>Gray text.</strong> Sed ut perspiciatis unde omnis iste natus.</li>
            <li class="text-primary"><strong>Primary text.</strong> Maecenas sed diam eget risus varius.</li>
            <li class="text-success"><strong>Success text.</strong> Et harum quidem rerum facilis est.</li>
            <li class="text-info"><strong>Info text.</strong> Sed ut perspiciatis unde omnis iste natus.</li>
            <li class="text-warning"><strong>Warning text.</strong> Maecenas sed diam eget risus varius.</li>
            <li class="text-danger"><strong>Danger text.</strong> Et harum quidem rerum facilis est.</li>
          </ul>
        </div><!-- .col-sm-5 -->
        <div class="col-sm-7 space-bottom-2x">
          <h5 class="text-uppercase text-gray text-thin space-bottom">Contextual Backgrounds</h5>
          <p><span class="bg-primary">Lorem ipsum dolor sit amet,</span> primary background consectetur adipisicing elit. Nemo enim ipsam voluptatem quia voluptas sit. Success background <span class="bg-default">non,sequi amet obcaecati</span> quos <span class="bg-success">soluta quisquam harum</span> dolor ab veniam <span class="bg-info">molestias info background excepturi</span> ut vitae warning background rerum repellendus aut quaerat deleniti recusandae. Nemo enim ipsam voluptatem quia voluptas sit. Quas nam quod <span class="bg-warning">dolorem, ipsam impedit</span> danger background, saepe, <span class="bg-danger">expedita necessitatibus reprehenderit,</span> ratione modi a quis magnam. Sint vero fuga totam repellendus quae! Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div><!-- .col-sm-7 -->
      </div><!-- .row -->
      <h5 class="text-uppercase text-gray text-thin space-bottom">Quotations</h5>
      <div class="row">
        <div class="col-sm-6 space-bottom-2x">
          <blockquote>
            <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem.</p>
            <cite>James Cameron</cite>
          </blockquote>
        </div><!-- .col-sm-6 -->
        <div class="col-sm-6 space-bottom-2x">
          <blockquote class="blockquote-reverse">
            <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem.</p>
            <cite>James Cameron</cite>
          </blockquote>
        </div><!-- .col-sm-6 -->
      </div><!-- .row -->
      <!-- Rounded Buttons -->
      <div class="space-bottom-2x">
        <h5 class="text-uppercase text-gray text-thin space-bottom">Rounded Buttons</h5>
        <a href="#" class="btn btn-default waves-effect waves-light">Default button</a>
        <a href="#" class="btn btn-primary waves-effect waves-light">Primary button</a>
        <a href="#" class="btn btn-info waves-effect waves-light">Info button</a>
        <a href="#" class="btn btn-success waves-effect waves-light">Success button</a>
        <a href="#" class="btn btn-warning waves-effect waves-light">Warning button</a>
        <a href="#" class="btn btn-danger waves-effect waves-light">Danger button</a>
        <div>
          <a href="#" class="btn btn-sm btn-default waves-effect waves-light">Default button</a>
          <a href="#" class="btn btn-sm btn-primary waves-effect waves-light">Primary button</a>
          <a href="#" class="btn btn-sm btn-info waves-effect waves-light">Info button</a>
          <a href="#" class="btn btn-sm btn-success waves-effect waves-light">Success button</a>
          <a href="#" class="btn btn-sm btn-warning waves-effect waves-light">Warning button</a>
          <a href="#" class="btn btn-sm btn-danger waves-effect waves-light">Danger button</a>
        </div>
      </div>
      <!-- Rounded Ghost Buttons -->
      <div class="space-bottom-2x">
        <h5 class="text-uppercase text-gray text-thin space-bottom">Rounded Ghost Buttons</h5>
        <a href="#" class="btn btn-ghost btn-default waves-effect waves-light">Default button</a>
        <a href="#" class="btn btn-ghost btn-primary waves-effect waves-light">Primary button</a>
        <a href="#" class="btn btn-ghost btn-info waves-effect waves-light">Info button</a>
        <a href="#" class="btn btn-ghost btn-success waves-effect waves-light">Success button</a>
        <a href="#" class="btn btn-ghost btn-warning waves-effect waves-light">Warning button</a>
        <a href="#" class="btn btn-ghost btn-danger waves-effect waves-light">Danger button</a>
        <div>
          <a href="#" class="btn btn-ghost btn-sm btn-default waves-effect waves-light">Default button</a>
          <a href="#" class="btn btn-ghost btn-sm btn-primary waves-effect waves-light">Primary button</a>
          <a href="#" class="btn btn-ghost btn-sm btn-info waves-effect waves-light">Info button</a>
          <a href="#" class="btn btn-ghost btn-sm btn-success waves-effect waves-light">Success button</a>
          <a href="#" class="btn btn-ghost btn-sm btn-warning waves-effect waves-light">Warning button</a>
          <a href="#" class="btn btn-ghost btn-sm btn-danger waves-effect waves-light">Danger button</a>
        </div>
      </div>
      <!-- Square Buttons -->
      <div class="space-bottom-2x">
        <h5 class="text-uppercase text-gray text-thin space-bottom">Square Buttons</h5>
        <a href="#" class="btn btn-square btn-default waves-effect waves-light">Default button</a>
        <a href="#" class="btn btn-square btn-primary waves-effect waves-light">Primary button</a>
        <a href="#" class="btn btn-square btn-info waves-effect waves-light">Info button</a>
        <a href="#" class="btn btn-square btn-success waves-effect waves-light">Success button</a>
        <a href="#" class="btn btn-square btn-warning waves-effect waves-light">Warning button</a>
        <a href="#" class="btn btn-square btn-danger waves-effect waves-light">Danger button</a>
        <div>
          <a href="#" class="btn btn-square btn-sm btn-default waves-effect waves-light">Default button</a>
          <a href="#" class="btn btn-square btn-sm btn-primary waves-effect waves-light">Primary button</a>
          <a href="#" class="btn btn-square btn-sm btn-info waves-effect waves-light">Info button</a>
          <a href="#" class="btn btn-square btn-sm btn-success waves-effect waves-light">Success button</a>
          <a href="#" class="btn btn-square btn-sm btn-warning waves-effect waves-light">Warning button</a>
          <a href="#" class="btn btn-square btn-sm btn-danger waves-effect waves-light">Danger button</a>
        </div>
      </div>
      <!-- Square Ghost Buttons -->
      <div class="space-bottom-2x">
        <h5 class="text-uppercase text-gray text-thin space-bottom">Square Ghost Buttons</h5>
        <a href="#" class="btn btn-ghost btn-square btn-default waves-effect waves-light">Default button</a>
        <a href="#" class="btn btn-ghost btn-square btn-primary waves-effect waves-light">Primary button</a>
        <a href="#" class="btn btn-ghost btn-square btn-info waves-effect waves-light">Info button</a>
        <a href="#" class="btn btn-ghost btn-square btn-success waves-effect waves-light">Success button</a>
        <a href="#" class="btn btn-ghost btn-square btn-warning waves-effect waves-light">Warning button</a>
        <a href="#" class="btn btn-ghost btn-square btn-danger waves-effect waves-light">Danger button</a>
        <div>
          <a href="#" class="btn btn-ghost btn-square btn-sm btn-default waves-effect waves-light">Default button</a>
          <a href="#" class="btn btn-ghost btn-square btn-sm btn-primary waves-effect waves-light">Primary button</a>
          <a href="#" class="btn btn-ghost btn-square btn-sm btn-info waves-effect waves-light">Info button</a>
          <a href="#" class="btn btn-ghost btn-square btn-sm btn-success waves-effect waves-light">Success button</a>
          <a href="#" class="btn btn-ghost btn-square btn-sm btn-warning waves-effect waves-light">Warning button</a>
          <a href="#" class="btn btn-ghost btn-square btn-sm btn-danger waves-effect waves-light">Danger button</a>
        </div>
      </div>
      <!-- Pill Buttons -->
      <div class="space-bottom-2x">
        <h5 class="text-uppercase text-gray text-thin space-bottom">Pill Buttons</h5>
        <a href="#" class="btn btn-pill btn-default waves-effect waves-light">Default button</a>
        <a href="#" class="btn btn-pill btn-primary waves-effect waves-light">Primary button</a>
        <a href="#" class="btn btn-pill btn-info waves-effect waves-light">Info button</a>
        <a href="#" class="btn btn-pill btn-success waves-effect waves-light">Success button</a>
        <a href="#" class="btn btn-pill btn-warning waves-effect waves-light">Warning button</a>
        <a href="#" class="btn btn-pill btn-danger waves-effect waves-light">Danger button</a>
        <div>
          <a href="#" class="btn btn-pill btn-sm btn-default waves-effect waves-light">Default button</a>
          <a href="#" class="btn btn-pill btn-sm btn-primary waves-effect waves-light">Primary button</a>
          <a href="#" class="btn btn-pill btn-sm btn-info waves-effect waves-light">Info button</a>
          <a href="#" class="btn btn-pill btn-sm btn-success waves-effect waves-light">Success button</a>
          <a href="#" class="btn btn-pill btn-sm btn-warning waves-effect waves-light">Warning button</a>
          <a href="#" class="btn btn-pill btn-sm btn-danger waves-effect waves-light">Danger button</a>
        </div>
      </div>
      <!-- Pill Ghost Buttons -->
      <div class="space-bottom-2x">
        <h5 class="text-uppercase text-gray text-thin space-bottom">Pill Ghost Buttons</h5>
        <a href="#" class="btn btn-ghost btn-pill btn-default waves-effect waves-light">Default button</a>
        <a href="#" class="btn btn-ghost btn-pill btn-primary waves-effect waves-light">Primary button</a>
        <a href="#" class="btn btn-ghost btn-pill btn-info waves-effect waves-light">Info button</a>
        <a href="#" class="btn btn-ghost btn-pill btn-success waves-effect waves-light">Success button</a>
        <a href="#" class="btn btn-ghost btn-pill btn-warning waves-effect waves-light">Warning button</a>
        <a href="#" class="btn btn-ghost btn-pill btn-danger waves-effect waves-light">Danger button</a>
        <div>
          <a href="#" class="btn btn-ghost btn-pill btn-sm btn-default waves-effect waves-light">Default button</a>
          <a href="#" class="btn btn-ghost btn-pill btn-sm btn-primary waves-effect waves-light">Primary button</a>
          <a href="#" class="btn btn-ghost btn-pill btn-sm btn-info waves-effect waves-light">Info button</a>
          <a href="#" class="btn btn-ghost btn-pill btn-sm btn-success waves-effect waves-light">Success button</a>
          <a href="#" class="btn btn-ghost btn-pill btn-sm btn-warning waves-effect waves-light">Warning button</a>
          <a href="#" class="btn btn-ghost btn-pill btn-sm btn-danger waves-effect waves-light">Danger button</a>
        </div>
      </div>
      <!-- Buttons with Icons -->
      <div class="space-bottom-2x">
        <h5 class="text-uppercase text-gray text-thin space-bottom">Buttons with Icons</h5>
        <a href="#" class="btn btn-default btn-icon-left waves-effect waves-light"><i class="material-icons access_alarm"></i>Left icon</a>
        <a href="#" class="btn btn-info btn-icon-right waves-effect waves-light">Right icon<i class="material-icons arrow_forward"></i></a>
        <a href="#" class="btn btn-ghost btn-default btn-icon-left waves-effect waves-light"><i class="material-icons bookmark_border"></i>Left icon</a>
        <a href="#" class="btn btn-ghost btn-info btn-icon-right waves-effect waves-light">Right icon<i class="material-icons perm_identity"></i></a>
        <a href="#" class="btn btn-sm btn-default btn-icon-left waves-effect waves-light"><i class="material-icons mic"></i>Left icon</a>
        <a href="#" class="btn btn-sm btn-info btn-icon-right waves-effect waves-light">Right icon<i class="material-icons play_circle_outline"></i></a>
        <div>
          <a href="#" class="btn btn-square btn-default btn-icon-left waves-effect waves-light"><i class="material-icons content_cut"></i>Left icon</a>
          <a href="#" class="btn btn-square btn-info btn-icon-right waves-effect waves-light">Right icon<i class="material-icons font_download"></i></a>
          <a href="#" class="btn btn-square btn-ghost btn-default btn-icon-left waves-effect waves-light"><i class="material-icons reply_all"></i>Left icon</a>
          <a href="#" class="btn btn-square btn-ghost btn-info btn-icon-right waves-effect waves-light">Right icon<i class="material-icons publish"></i></a>
          <a href="#" class="btn btn-square btn-sm btn-default btn-icon-left waves-effect waves-light"><i class="material-icons attachment"></i>Left icon</a>
          <a href="#" class="btn btn-square btn-sm btn-info btn-icon-right waves-effect waves-light">Right icon<i class="material-icons audiotrack"></i></a>
        </div>
        <div>
          <a href="#" class="btn btn-pill btn-default btn-icon-left waves-effect waves-light"><i class="material-icons colorize"></i>Left icon</a>
          <a href="#" class="btn btn-pill btn-info btn-icon-right waves-effect waves-light">Right icon<i class="material-icons camera_alt"></i></a>
          <a href="#" class="btn btn-pill btn-ghost btn-default btn-icon-left waves-effect waves-light"><i class="material-icons brightness_6"></i>Left icon</a>
          <a href="#" class="btn btn-pill btn-ghost btn-info btn-icon-right waves-effect waves-light">Right icon<i class="material-icons tag_faces"></i></a>
          <a href="#" class="btn btn-pill btn-sm btn-default btn-icon-left waves-effect waves-light"><i class="material-icons local_grocery_store"></i>Left icon</a>
          <a href="#" class="btn btn-pill btn-sm btn-info btn-icon-right waves-effect waves-light">Right icon<i class="material-icons zoom_out_map"></i></a>
        </div>
      </div>
      <!-- Block Buttons -->
      <h5 class="text-uppercase text-gray text-thin space-bottom">Block Buttons</h5>
      <div class="row">
        <div class="col-sm-3">
          <a href="#" class="btn btn-block btn-default waves-effect waves-light">Block button</a>
        </div><!-- .col-sm-3 -->
        <div class="col-sm-3">
          <a href="#" class="btn btn-block btn-primary waves-effect waves-light">Block button</a>
        </div><!-- .col-sm-3 -->
        <div class="col-sm-3">
          <a href="#" class="btn btn-block btn-ghost btn-default waves-effect waves-light">Block button</a>
        </div><!-- .col-sm-3 -->
        <div class="col-sm-3">
          <a href="#" class="btn btn-block btn-ghost btn-primary waves-effect waves-light">Block button</a>
        </div><!-- .col-sm-3 -->
      </div>
      <div class="row">
        <div class="col-sm-3">
          <a href="#" class="btn btn-square btn-block btn-default waves-effect waves-light">Block button</a>
        </div><!-- .col-sm-3 -->
        <div class="col-sm-3">
          <a href="#" class="btn btn-square btn-block btn-primary waves-effect waves-light">Block button</a>
        </div><!-- .col-sm-3 -->
        <div class="col-sm-3">
          <a href="#" class="btn btn-square btn-block btn-ghost btn-default waves-effect waves-light">Block button</a>
        </div><!-- .col-sm-3 -->
        <div class="col-sm-3">
          <a href="#" class="btn btn-square btn-block btn-ghost btn-primary waves-effect waves-light">Block button</a>
        </div><!-- .col-sm-3 -->
      </div>
      <div class="row space-bottom-2x">
        <div class="col-sm-3">
          <a href="#" class="btn btn-pill btn-block btn-default waves-effect waves-light">Block button</a>
        </div><!-- .col-sm-3 -->
        <div class="col-sm-3">
          <a href="#" class="btn btn-pill btn-block btn-primary waves-effect waves-light">Block button</a>
        </div><!-- .col-sm-3 -->
        <div class="col-sm-3">
          <a href="#" class="btn btn-pill btn-block btn-ghost btn-default waves-effect waves-light">Block button</a>
        </div><!-- .col-sm-3 -->
        <div class="col-sm-3">
          <a href="#" class="btn btn-pill btn-block btn-ghost btn-primary waves-effect waves-light">Block button</a>
        </div><!-- .col-sm-3 -->
      </div>
      <!-- Social Buttons -->
      <h5 class="text-uppercase text-gray text-thin space-bottom">Social Buttons</h5>
      <div class="social-bar space-bottom-2x">
        <a href="#" class="sb-behance" data-toggle="tooltip" data-placement="top" title="Behance">
          <i class="socicon-behance"></i>
        </a>
        <a href="#" class="sb-deviantart" data-toggle="tooltip" data-placement="top" title="DeviantArt">
          <i class="socicon-deviantart"></i>
        </a>
        <a href="#" class="sb-digg" data-toggle="tooltip" data-placement="top" title="Digg">
          <i class="socicon-digg"></i>
        </a>
        <a href="#" class="sb-dribbble" data-toggle="tooltip" data-placement="top" title="Dribbble">
          <i class="socicon-dribbble"></i>
        </a>
        <a href="#" class="sb-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
          <i class="socicon-facebook"></i>
        </a>
        <a href="#" class="sb-flickr" data-toggle="tooltip" data-placement="top" title="Flickr">
          <i class="socicon-flickr"></i>
        </a>
        <a href="#" class="sb-foursquare" data-toggle="tooltip" data-placement="top" title="Foursquare">
          <i class="socicon-foursquare"></i>
        </a>
        <a href="#" class="sb-github" data-toggle="tooltip" data-placement="top" title="Github">
          <i class="socicon-github"></i>
        </a>
        <a href="#" class="sb-google-plus" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google+">
          <i class="socicon-googleplus"></i>
        </a>
        <a href="#" class="sb-instagram" data-toggle="tooltip" data-placement="top" title="" data-original-title="Instagram">
          <i class="socicon-instagram"></i>
        </a>
        <a href="#" class="sb-lastfm" data-toggle="tooltip" data-placement="top" title="last.fm">
          <i class="socicon-lastfm"></i>
        </a>
        <a href="#" class="sb-linkedin" data-toggle="tooltip" data-placement="top" title="LinkedIn">
          <i class="socicon-linkedin"></i>
        </a>
        <a href="#" class="sb-paypal" data-toggle="tooltip" data-placement="top" title="PayPal">
          <i class="socicon-paypal"></i>
        </a>
        <a href="#" class="sb-pinterest" data-toggle="tooltip" data-placement="top" title="Pinterest" data-original-title="">
          <i class="socicon-pinterest"></i>
        </a>
        <a href="#" class="sb-reddit" data-toggle="tooltip" data-placement="top" title="Reddit">
          <i class="socicon-reddit"></i>
        </a>
        <a href="#" class="sb-skype" data-toggle="tooltip" data-placement="top" title="Skype">
          <i class="socicon-skype"></i>
        </a>
        <a href="#" class="sb-soundcloud" data-toggle="tooltip" data-placement="top" title="SoundCloud">
          <i class="socicon-soundcloud"></i>
        </a>
        <a href="#" class="sb-stackoverflow" data-toggle="tooltip" data-placement="top" title="Stack Overflow">
          <i class="socicon-stackoverflow"></i>
        </a>
        <a href="#" class="sb-steam" data-toggle="tooltip" data-placement="top" title="Steam">
          <i class="socicon-steam"></i>
        </a>
        <a href="#" class="sb-stumbleupon" data-toggle="tooltip" data-placement="top" title="StumbleUpon">
          <i class="socicon-stumbleupon"></i>
        </a>
        <a href="#" class="sb-tumblr" data-toggle="tooltip" data-placement="top" title="Tumblr">
          <i class="socicon-tumblr"></i>
        </a>
        <a href="#" class="sb-twitch" data-toggle="tooltip" data-placement="top" title="Twitch">
          <i class="socicon-twitch"></i>
        </a>
        <a href="#" class="sb-twitter" data-toggle="tooltip" data-placement="top" title="Twitter">
          <i class="socicon-twitter"></i>
        </a>
        <a href="#" class="sb-vine" data-toggle="tooltip" data-placement="top" title="Vine">
          <i class="socicon-vine"></i>
        </a>
        <a href="#" class="sb-vk" data-toggle="tooltip" data-placement="top" title="Vkontakte">
          <i class="socicon-vkontakte"></i>
        </a>
        <a href="#" class="sb-wordpress" data-toggle="tooltip" data-placement="top" title="WordPress">
          <i class="socicon-wordpress"></i>
        </a>
        <a href="#" class="sb-xing" data-toggle="tooltip" data-placement="top" title="Xing">
          <i class="socicon-xing"></i>
        </a>
        <a href="#" class="sb-yahoo" data-toggle="tooltip" data-placement="top" title="Yahoo!">
          <i class="socicon-yahoo"></i>
        </a>
        <a href="#" class="sb-yelp" data-toggle="tooltip" data-placement="top" title="Yelp">
          <i class="socicon-yelp"></i>
        </a>
        <a href="#" class="sb-youtube" data-toggle="tooltip" data-placement="top" title="YouTube">
          <i class="socicon-youtube"></i>
        </a>
      </div>
      <!-- Market Buttons -->
      <h5 class="text-uppercase text-gray text-thin space-bottom">Market Buttons</h5>
      <div class="space-bottom-3x">
        <a href="#" class="app-store-btn"></a>
        <a href="#" class="google-play-btn"></a>
        <a href="#" class="windows-btn"></a>
        <a href="#" class="amazon-btn"></a>
      </div>

      <!-- Form Controls -->
      <h5 class="text-uppercase text-gray text-thin space-bottom">Form Controls</h5>
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="form-element">
            <input type="text" class="form-control" placeholder="Text input">
          </div>
        </div><!-- .col-md-3.col-sm-6 -->
        <div class="col-md-3 col-sm-6">
          <div class="form-element valid">
            <input type="text" class="form-control" placeholder="Error input">
          </div>
        </div><!-- .col-md-3.col-sm-6 -->
        <div class="col-md-3 col-sm-6">
          <div class="form-element error">
            <input type="text" class="form-control" placeholder="Error input">
          </div>
        </div><!-- .col-md-3.col-sm-6 -->
        <div class="col-md-3 col-sm-6">
          <div class="form-element form-select">
            <select class="form-control">
              <option>Select</option>
              <option>Option One</option>
              <option>Option Two</option>
              <option>Option Three</option>
              <option>Option Four</option>
              <option>Option Five</option>
            </select>
          </div>
        </div><!-- .col-md-3.col-sm-6 -->
      </div><!-- .row-->
      <div class="row space-top space-bottom-2x">
        <div class="col-sm-6">
          <div class="form-element">
            <textarea rows="8" class="form-control" placeholder="Textarea"></textarea>
          </div>
        </div><!-- .col-sm-6-->
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-6">
              <h6 class="text-uppercase text-gray text-thin space-bottom">Checkboxes</h6>
              <div class="form-group">
                <label class="checkbox">
                  <input type="checkbox"> Checkbox
                </label>
                <label class="checkbox">
                  <input type="checkbox" checked> Checkbox
                </label>
                <label class="checkbox disabled">
                  <input type="checkbox" disabled> Checkbox
                </label>
                <label class="checkbox disabled">
                  <input type="checkbox" checked disabled> Checkbox
                </label>
              </div>
            </div>
            <div class="col-sm-6">
              <h6 class="text-uppercase text-gray text-thin space-bottom">Radios</h6>
              <div class="form-group">
                <label class="radio">
                  <input type="radio" name="rad_demo_1"> Radio
                </label>
                <label class="radio">
                  <input type="radio" name="rad_demo_1" checked> Radio
                </label>
                <label class="radio disabled">
                  <input type="radio" disabled> Radio
                </label>
                <label class="radio disabled">
                  <input type="radio" checked disabled> Radio
                </label>
              </div>
            </div>
          </div><!-- .row-->
        </div><!-- .col-sm-6-->
      </div><!-- .row-->

      <!-- Tables -->
      <h5 class="text-uppercase text-gray text-thin space-bottom">Tables</h5>
      <div class="table-responsive">
        <table>
          <thead>
            <tr>
              <th>#</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Position</th>
              <th>Username</th>
              <th>Phone</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Johnathan</td>
              <td>Doe</td>
              <td>CEO, Founder</td>
              <td>@johny</td>
              <td>+3 555 68 70</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Anna</td>
              <td>Cabana</td>
              <td>Designer</td>
              <td>@cabana</td>
              <td>+3 434 65 93</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Kale</td>
              <td>Thornton</td>
              <td>Developer</td>
              <td>@thornton</td>
              <td>+3 285 42 88</td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>Jane</td>
              <td>Birkins</td>
              <td>Support</td>
              <td>@birkins</td>
              <td>+3 774 28 50</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="table-responsive space-bottom-2x">
        <table class="table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Position</th>
              <th>Username</th>
              <th>Phone</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Johnathan</td>
              <td>Doe</td>
              <td>CEO, Founder</td>
              <td>@johny</td>
              <td>+3 555 68 70</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Anna</td>
              <td>Cabana</td>
              <td>Designer</td>
              <td>@cabana</td>
              <td>+3 434 65 93</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Kale</td>
              <td>Thornton</td>
              <td>Developer</td>
              <td>@thornton</td>
              <td>+3 285 42 88</td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>Jane</td>
              <td>Birkins</td>
              <td>Support</td>
              <td>@birkins</td>
              <td>+3 774 28 50</td>
            </tr>
          </tbody>
        </table>
      </div><!-- .table-responsive -->

      <!-- Tabs -->
      <div class="padding-top visible-xs"></div>
      <h5 class="text-uppercase text-gray text-thin space-bottom">Tabs</h5>
      <div class="row">
        <div class="col-sm-6 space-bottom-2x">
          <!-- Nav Tabs -->
          <ul class="nav-tabs" role="tablist">
            <li class="active"><a href="#tab1" role="tab" data-toggle="tab">Tab 1</a></li>
            <li><a href="#tab2" role="tab" data-toggle="tab">Tab 2</a></li>
            <li><a href="#tab3" role="tab" data-toggle="tab">Tab 3</a></li>
          </ul><!-- .nav-tabs -->
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane transition fade in active" id="tab1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut dignissimos ipsam obcaecati corrupti modi, deserunt facere asperiores. Voluptatum laudantium ut, minus nam. Libero facilis aspernatur cumque, quisquam quod sint odit.</div>
            <div role="tabpanel" class="tab-pane transition fade" id="tab2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui hic laboriosam odio doloribus suscipit error nostrum totam dignissimos esse numquam voluptatum, aspernatur est, at voluptatem minus temporibus reprehenderit culpa voluptates.</div>
            <div role="tabpanel" class="tab-pane transition fade" id="tab3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur ratione nulla asperiores repellat natus dolor delectus dolorum harum sequi fugiat vero, voluptatem reiciendis autem, vel. Repellendus ea laudantium pariatur eum!</div>
          </div><!-- .tab-content -->
        </div><!-- .col-sm-6 -->
        <div class="col-sm-6 space-bottom-2x">
          <!-- Nav Tabs -->
          <ul class="nav-tabs text-right" role="tablist">
            <li class="active"><a href="#tab4" role="tab" data-toggle="tab">Tab 1</a></li>
            <li><a href="#tab5" role="tab" data-toggle="tab">Tab 2</a></li>
            <li><a href="#tab6" role="tab" data-toggle="tab">Tab 3</a></li>
          </ul><!-- .nav-tabs -->
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane transition fade in active" id="tab4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut dignissimos ipsam obcaecati corrupti modi, deserunt facere asperiores. Voluptatum laudantium ut, minus nam. Libero facilis aspernatur cumque, quisquam quod sint odit.</div>
            <div role="tabpanel" class="tab-pane transition fade" id="tab5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui hic laboriosam odio doloribus suscipit error nostrum totam dignissimos esse numquam voluptatum, aspernatur est, at voluptatem minus temporibus reprehenderit culpa voluptates.</div>
            <div role="tabpanel" class="tab-pane transition fade" id="tab6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur ratione nulla asperiores repellat natus dolor delectus dolorum harum sequi fugiat vero, voluptatem reiciendis autem, vel. Repellendus ea laudantium pariatur eum!</div>
          </div><!-- .tab-content -->
        </div><!-- .col-sm-6 -->
      </div><!-- .row -->
      <div class="row space-bottom">
        <div class="col-sm-6 space-bottom-2x">
          <!-- Nav Tabs -->
          <ul class="nav-tabs text-center" role="tablist">
            <li class="active"><a href="#tab7" role="tab" data-toggle="tab">Fade</a></li>
            <li><a href="#tab8" role="tab" data-toggle="tab">Scale</a></li>
            <li><a href="#tab9" role="tab" data-toggle="tab">Scale 2</a></li>
            <li><a href="#tab10" role="tab" data-toggle="tab">Left</a></li>
          </ul><!-- .nav-tabs -->
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane transition fade in active" id="tab7">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut dignissimos ipsam obcaecati corrupti modi, deserunt facere asperiores. Voluptatum laudantium ut, minus nam. Libero facilis aspernatur cumque, quisquam quod sint odit.</div>
            <div role="tabpanel" class="tab-pane transition fade scale" id="tab8">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui hic laboriosam odio doloribus suscipit error nostrum totam dignissimos esse numquam voluptatum, aspernatur est, at voluptatem minus temporibus reprehenderit culpa voluptates.</div>
            <div role="tabpanel" class="tab-pane transition fade scaledown" id="tab9">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur ratione nulla asperiores repellat natus dolor delectus dolorum harum sequi fugiat vero, voluptatem reiciendis autem, vel. Repellendus ea laudantium pariatur eum!</div>
            <div role="tabpanel" class="tab-pane transition fade left" id="tab10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut dignissimos ipsam obcaecati corrupti modi, deserunt facere asperiores. Voluptatum laudantium ut, minus nam. Libero facilis aspernatur cumque, quisquam quod sint odit.</div>
          </div><!-- .tab-content -->
        </div><!-- .col-sm-6 -->
        <div class="col-sm-6 space-bottom-2x">
          <!-- Nav Tabs -->
          <ul class="nav-tabs text-center" role="tablist">
            <li class="active"><a href="#tab11" role="tab" data-toggle="tab">Right</a></li>
            <li><a href="#tab12" role="tab" data-toggle="tab">Top</a></li>
            <li><a href="#tab13" role="tab" data-toggle="tab">Bottom</a></li>
            <li><a href="#tab14" role="tab" data-toggle="tab">Flip</a></li>
          </ul><!-- .nav-tabs -->
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane transition fade right in active" id="tab11">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut dignissimos ipsam obcaecati corrupti modi, deserunt facere asperiores. Voluptatum laudantium ut, minus nam. Libero facilis aspernatur cumque, quisquam quod sint odit.</div>
            <div role="tabpanel" class="tab-pane transition fade top" id="tab12">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui hic laboriosam odio doloribus suscipit error nostrum totam dignissimos esse numquam voluptatum, aspernatur est, at voluptatem minus temporibus reprehenderit culpa voluptates.</div>
            <div role="tabpanel" class="tab-pane transition fade bottom" id="tab13">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur ratione nulla asperiores repellat natus dolor delectus dolorum harum sequi fugiat vero, voluptatem reiciendis autem, vel. Repellendus ea laudantium pariatur eum!</div>
            <div role="tabpanel" class="tab-pane transition fade flip" id="tab14">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut dignissimos ipsam obcaecati corrupti modi, deserunt facere asperiores. Voluptatum laudantium ut, minus nam. Libero facilis aspernatur cumque, quisquam quod sint odit.</div>
          </div><!-- .tab-content -->
        </div><!-- .col-sm-6 -->
      </div><!-- .row -->

      <!-- Panels & Accordions -->
      <h5 class="text-uppercase text-gray text-thin space-bottom">Panels &amp; Accordions</h5>
      <div class="row space-bottom">
        <div class="col-sm-6 space-bottom-2x">
          <div class="panel">
            <div class="panel-heading">
              <h3 class="panel-title">Static Panel Example</h3>
            </div>
            <div class="panel-body text-gray">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis nostrum hic quae ab nihil fuga? Maiores expedita quod eligendi accusamus, animi doloribus totam soluta, dolores sed laborum repudiandae repellendus praesentium?
            </div>
          </div><!-- .panel -->
          <div class="panel-group">
            <div class="panel">
              <div class="panel-heading">
                <a class="panel-title" data-toggle="collapse" href="#panel">
                  Collapsible Panel Example
                </a>
              </div>
              <div id="panel" class="panel-collapse collapse in">
                <div class="panel-body text-gray">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea eum itaque consequuntur voluptate, vero officiis assumenda atque odit recusandae explicabo harum, adipisci aliquid illum quibusdam saepe repudiandae distinctio, tempora voluptates!
                </div>
              </div>
            </div><!-- .panel -->
          </div><!-- .panel-group -->
        </div><!-- .col-sm-6 -->

        <div class="col-sm-6">
          <div class="panel-group" id="accordion">
            <div class="panel">
              <div class="panel-heading">
                <a class="panel-title collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                  Collapsible Group Item #1
                </a>
              </div>
              <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-expanded="false">
                <div class="panel-body text-gray">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                </div>
              </div>
            </div><!-- .panel -->
            <div class="panel">
              <div class="panel-heading">
                <a class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                  Collapsible Group Item #2
                </a>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-expanded="true">
                <div class="panel-body text-gray">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                </div>
              </div>
            </div><!-- .panel -->
            <div class="panel">
              <div class="panel-heading">
                <a class="panel-title collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                  Collapsible Group Item #3
                </a>
              </div>
              <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-expanded="false">
                <div class="panel-body text-gray">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                </div>
              </div>
            </div><!-- .panel -->
          </div><!-- .panel-group -->
        </div><!-- .col-sm-6 -->
      </div><!-- .row -->

      <!-- Team -->
      <h5 class="text-uppercase text-gray text-thin space-bottom">Team</h5>
      <div class="row padding-top">
        <!-- Teammate -->
        <div class="col-xs-6 col-md-3">
          <div class="teammate">
            <div class="teammate-thumb">
              <div class="social-bar text-center space-bottom">
                <a href="#" class="sb-skype" data-toggle="tooltip" data-placement="top" title="Skype">
                  <i class="socicon-skype"></i>
                </a>
                <a href="#" class="sb-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
                  <i class="socicon-facebook"></i>
                </a>
                <a href="#" class="sb-google-plus" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google+">
                  <i class="socicon-googleplus"></i>
                </a>
              </div><!-- .social-bar -->
              <img src="img/team/01.jpg" alt="Teammate">
            </div>
            <h4 class="teammate-name">Jonathan Doe</h4>
            <span class="teammate-position">Co-Founder, CEO</span>
          </div><!-- .teammate -->
        </div><!-- .col-xs-6.col-md-3 -->
        <!-- Teammate -->
        <div class="col-xs-6 col-md-3">
          <div class="teammate">
            <div class="teammate-thumb">
              <div class="social-bar text-center space-bottom">
                <a href="#" class="sb-twitter" data-toggle="tooltip" data-placement="top" title="Twitter">
                  <i class="socicon-twitter"></i>
                </a>
                <a href="#" class="sb-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
                  <i class="socicon-facebook"></i>
                </a>
                <a href="#" class="sb-instagram" data-toggle="tooltip" data-placement="top" title="" data-original-title="Instagram">
                  <i class="socicon-instagram"></i>
                </a>
              </div><!-- .social-bar -->
              <img src="img/team/02.jpg" alt="Teammate">
            </div>
            <h4 class="teammate-name">Branda Murray</h4>
            <span class="teammate-position">Marketing Director</span>
          </div><!-- .teammate -->
        </div><!-- .col-xs-6.col-md-3 -->
        <!-- Teammate -->
        <div class="col-xs-6 col-md-3">
          <div class="teammate">
            <div class="teammate-thumb">
              <div class="social-bar text-center space-bottom">
                <a href="#" class="sb-twitter" data-toggle="tooltip" data-placement="top" title="Twitter">
                  <i class="socicon-twitter"></i>
                </a>
                <a href="#" class="sb-linkedin" data-toggle="tooltip" data-placement="top" title="LinkedIn">
                  <i class="socicon-linkedin"></i>
                </a>
                <a href="#" class="sb-dribbble" data-toggle="tooltip" data-placement="top" title="" data-original-title="Dribbble">
                  <i class="socicon-dribbble"></i>
                </a>
              </div><!-- .social-bar -->
              <img src="img/team/03.jpg" alt="Teammate">
            </div>
            <h4 class="teammate-name">Taylor White</h4>
            <span class="teammate-position">Brand Director</span>
          </div><!-- .teammate -->
        </div><!-- .col-xs-6.col-md-3 -->
        <!-- Teammate -->
        <div class="col-xs-6 col-md-3">
          <div class="teammate">
            <div class="teammate-thumb">
              <div class="social-bar text-center space-bottom">
                <a href="#" class="sb-skype" data-toggle="tooltip" data-placement="top" title="Skype">
                  <i class="socicon-skype"></i>
                </a>
                <a href="#" class="sb-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
                  <i class="socicon-facebook"></i>
                </a>
                <a href="#" class="sb-google-plus" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google+">
                  <i class="socicon-googleplus"></i>
                </a>
              </div><!-- .social-bar -->
              <img src="img/team/04.jpg" alt="Teammate">
            </div>
            <h4 class="teammate-name">Suasanna Davis</h4>
            <span class="teammate-position">Sales Director</span>
          </div><!-- .teammate -->
        </div><!-- .col-xs-6.col-md-3 -->
      </div><!-- .row -->
    </section><!-- .container -->

    @@include('inc/footer.html')
    @@include('inc/wrapper_bottom.html')
