@@include('inc/wrapper_top.html')
<!-- <div class="container"> -->
<!-- @@include('inc/header.html') -->
@@include('inc/header.html', {"page": "about"})


    <!-- Content -->
    <section class="container padding-top-3x padding-bottom-3x">
      <h2>Thank you!</h2>
      <div class="row padding-top">
        <div class="col-sm-8 padding-bottom">
        <p class="lead">Your payment will be verified within 24 hours. Once it is verified, the seller will prepare your order for shipment. Otherwise, you will receive a notice in My AliExpress or by email.</p>
        </div><!-- .col-xs-6.col-md-3 -->
      </div><!-- .row -->
    </section><!-- .container -->



    @@include('inc/footer.html')
    @@include('inc/wrapper_bottom.html')
