@@include('inc/wrapper_top.html')
<!-- <div class="container"> -->
<!-- @@include('inc/header.html') -->
@@include('inc/header.html', {"page": "login"})



  <!-- Content -->
  <section class="profile container padding-bottom-2x">
    <!-- <h2>User Account</h2> -->
    <div class="row padding-top">
      <div class="col-md-12">
        <h2 class="padding-bottom">George Raymond Richard Martin</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">

        <div class="profile-picture">
          <img src="img/shop/reviews/02.jpg" alt="Profile picture">
        </div>

      </div><!-- .col-md-4 -->
      <div class="col-md-6">
      <table class="table-no-border">
        <tbody>
      <tr>
          <th>Username</th>
          <td>Ghost289</td>
      </tr>
      <tr>
          <th>Email</th>
          <td>email@example.com</td>
      </tr>
      <tr>
          <th>Name</th>
          <td>George Raymond Richard Martin</td>
      </tr>
      <tr>
          <th>Gender</th>
          <td>Male</td>
      </tr>
      <tr>
          <th>Age</th>
          <td>33</td>
      </tr>
  </tbody></table>
      </div><!-- .col-md-4 -->


    </div><!-- .row -->

    <div class="row padding-top">
      <div class="col-md-12">
        <h2 class="padding-bottom">Modify</h2>
      
      </div>
    </div>

    <div class="row">
    <div class="col-md-3">

        <div class="profile-picture">
          <img src="img/shop/reviews/02.jpg" alt="Profile picture">
          <input type="file" name="profile">
        </div>
      </div>
      <div class="col-md-6">
        <!-- <div class="inner"> -->
          <form method="post" class="form-horizontal">

          <div class="form-group">
            <label class="col-sm-4">Username</label>
            <div class="col-sm-8">
            <label>Ghost289</label>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-4">Email</label>
            <div class="col-sm-8">
            <label>email@example.com</label>
            </div>
          </div>


          <div class="form-group">
            <label class="col-sm-4">Name</label>
            <div class="col-sm-8">
            <input type="text" class="form-control" placeholder="Name" required>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-4">Password</label>
            <div class="col-sm-8">
            <input type="password" class="form-control" placeholder="Password" required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4">Repeat password</label>
            <div class="col-sm-8">
            <input type="password" class="form-control" placeholder="Repeat password" required>
            </div>
          </div>

<!-- 
            <input type="password" class="form-control" placeholder="Password" required>
            <input type="password" class="form-control" placeholder="Repeat password" required>
            
            <input type="text" class="form-control" placeholder="Age" required>

             -->
            <div class="form-footer col-sm-8 col-sm-offset-4">
              <!-- <div class="rememberme"></div> -->
              <div class="form-submit">
                <a href="account.html" class="btn btn-primary btn-block">Update</a>
              </div>
            </div>
          </form>
          <!-- .edit-form -->
        <!-- </div> --><!-- .inner -->
      </div><!-- .col-md-4.col-md-offset-1 -->
      <!-- </div> --><!-- .row -->


     
    </div><!-- .row -->
  </section><!-- .container -->


@@include('inc/footer.html')
@@include('inc/wrapper_bottom.html')
