@@include('inc/wrapper_top.html')
@@include('inc/header.html', {"page": "item"})


<div class="container">
<h2 class="space-top-half">Shopping Cart</h2>

<p class="text-sm">
                <span class="text-gray">Currently</span> 3 items
                <span class="text-gray"> in cart</span>
            </p>

    <div class="row">

        <div class="col-sm-8">
            <div class="shopping-cart">

            <!-- Item -->
            <div class="item">
              <a href="item-detail.html" class="item-thumb">
                <img src="img/cart/item01.jpg" alt="Item">
              </a>
              <div class="item-details">
                <h3 class="item-title"><a href="item-detail.html">Concrete Lamp</a></h3>
                <h4 class="item-price">$85.90</h4>
                <div class="count-input">
                  <a class="incr-btn" data-action="decrease" href="#">–</a>
                  <input class="quantity" type="text" value="1">
                  <a class="incr-btn" data-action="increase" href="#">+</a>
                </div>
              </div>
              <a href="#" class="item-remove" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove">
                <i class="material-icons remove_shopping_cart"></i>
              </a>
            </div><!-- .item -->
            <!-- Item -->
            <div class="item">
              <a href="item-detail.html" class="item-thumb">
                <img src="img/cart/item02.jpg" alt="Item">
              </a>
              <div class="item-details">
                <h3 class="item-title"><a href="item-detail.html">Resin Storage Box</a></h3>
                <h4 class="item-price">$38.00</h4>
                <div class="count-input">
                  <a class="incr-btn" data-action="decrease" href="#">–</a>
                  <input class="quantity" type="text" value="2">
                  <a class="incr-btn" data-action="increase" href="#">+</a>
                </div>
              </div>
              <a href="#" class="item-remove" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove">
                <i class="material-icons remove_shopping_cart"></i>
              </a>
            </div><!-- .item -->
            <!-- Item -->
            <div class="item">
              <a href="item-detail.html" class="item-thumb">
                <img src="img/cart/item03.jpg" alt="Item">
              </a>
              <div class="item-details">
                <h3 class="item-title"><a href="item-detail.html">Ceramic Watch</a></h3>
                <h4 class="item-price">$299.00</h4>
                <div class="count-input">
                  <a class="incr-btn" data-action="decrease" href="#">–</a>
                  <input class="quantity" type="text" value="1">
                  <a class="incr-btn" data-action="increase" href="#">+</a>
                </div>
              </div>
              <a href="#" class="item-remove" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove">
                <i class="material-icons remove_shopping_cart"></i>
              </a>
            </div><!-- .item -->
          </div>


        </div>
        


        <div class="col-md-3 col-md-offset-1 col-sm-4 padding-bottom-2x">
          <aside>
            <h3 class="toolbar-title">Cart subtotal:</h3>
            <h4 class="amount">$460.90</h4>
            <p class="text-sm text-gray">* Note: E nós criamos um programa que eu queria falar para vocês, que é o Ciência sem Fronteiras. Por que eu queria falar do Ciência sem Fronteiras para vocês? É que em todas as demais... porque nós vamos fazer agora o Ciência sem Fronteiras 2. O 1 é o 100 000, mas vai ter de continuar fazendo Ciência sem Fronteiras no Brasil.</p>
            <a href="#" class="btn btn-default btn-block">Update Cart</a>
            <a href="checkout.html" class="btn btn-primary btn-block space-top-none">Checkout</a>
          </aside>
        </div>


    </div><!-- row -->

</div>


@@include('inc/footer.html')
@@include('inc/wrapper_bottom.html')
