<section class="container">
  <!-- Featured Categories -->
  <!-- <h3 class="text-center padding-top">Categories</h3> -->
  <div class="row padding-top-3x padding-bottom-2x">
    <div class="col-sm-4 col-xs-4">
      <a href="products.html" id="mobile" class="category-link">
      </a><!-- .category-link -->
    </div><!-- .col-sm-4 -->
    <div class="col-sm-4 col-xs-4">
      <a href="products.html" id="gadget" class="category-link">
      </a><!-- .category-link -->
    </div><!-- .col-sm-4 -->
    <div class="col-sm-4 col-xs-4">
      <a href="products.html" id="camera" class="category-link">
      </a><!-- .category-link -->
    </div><!-- .col-sm-4 -->
  </div><!-- .row -->
</section>