<!-- Features -->
    <section class="container space-top space-bottom padding-top-3x padding-bottom-3x">
      <div class="row">
        <!-- Feature -->
        <div class="col-md-3 col-sm-6">
          <div class="feature text-center">
            <div class="feature-icon">
              <i class="material-icons location_on"></i>
            </div>
            <h4 class="feature-title">Free World-Wide Shipping</h4>
            <p class="feature-text">Free shipping on all orders over $100</p>
          </div>
        </div>
        <!-- Feature -->
        <div class="col-md-3 col-sm-6">
          <div class="feature text-center">
            <div class="feature-icon">
              <i class="material-icons autorenew"></i>
            </div>
            <h4 class="feature-title">Money Back Guarantee</h4>
            <p class="feature-text">We return money within 30 days</p>
          </div>
        </div>
        <!-- Feature -->
        <div class="col-md-3 col-sm-6">
          <div class="feature text-center">
            <div class="feature-icon">
              <i class="material-icons headset_mic"></i>
            </div>
            <h4 class="feature-title">24/7 Online Support</h4>
            <p class="feature-text">Friendly 24/7 customer support</p>
          </div>
        </div>
        <!-- Feature -->
        <div class="col-md-3 col-sm-6">
          <div class="feature text-center">
            <div class="feature-icon">
              <i class="material-icons credit_card"></i>
            </div>
            <h4 class="feature-title">Secure Online Payments</h4>
            <p class="feature-text">We posess SSL / Secure Certificate</p>
          </div>
        </div>
      </div><!-- .row -->
    </section><!-- .container -->