    <!-- Navbar -->
    <!-- Remove ".navbar-sticky" class to make navigation bar scrollable with the page. -->
    <!-- <header class="navbar"> -->
    <header class="navbar navbar-sticky">
    <div class="menubar">
    <div class="submenu">
      <ul class="menu pull-right">
        <!-- <li class="menu-item-has-children">
          <a href="#">Gadgets</a>
          <ul class="sub-menu">
            <li><a href="products.html">โทรศัพท์มือถือและ tablet</a></li>
            <li><a href="products.html">Gadgets น่าลอง</a></li>
            <li><a href="products.html">กล้องและอุปกรณ์ถ่ายภาพ</a></li>
          </ul>
        </li> -->
        <li><a class="anchorlink" href="#">dailygizmo</a></li><li><a class="anchorlink" href="#">chatpawee</a></li><li><a class="anchorlink" href="#">contact</a></li>
        
      </ul>
    </div>

    <div class="container">

      <!-- Site Logo -->
      <a href="index.html" class="site-logo visible-desktop">
        <img src="img/graphic/CeeGadget.svg">
        <!-- <span>[</span> CEE///////

        <span class="text-gray">/</span>
        STORE <span>]</span> -->
      </a><!-- site-logo.visible-desktop -->
      <a href="index.html" class="site-logo visible-mobile">
        <img src="img/graphic/CeeGadget.svg">
        <!-- <span>[</span> CEE++++++++++++ <span>]</span> -->
      </a><!-- site-logo.visible-mobile -->

      <!-- Main Navigation -->
      <!-- Control the position of navigation via modifier classes: "text-left, text-center, text-right" -->
      <nav class="main-navigation">


        <ul class="menu visible-lg-inline-block">
          <li class="menu-item-has-children">
            <a href="#">Gadgets</a>
            <ul class="sub-menu">
              <li><a href="products.html">โทรศัพท์มือถือและ tablet</a></li>
              <li><a href="products.html">Gadgets น่าลอง</a></li>
              <li><a href="products.html">กล้องและอุปกรณ์ถ่ายภาพ</a></li>
            </ul>
          </li>
          <!-- <li><a href="blog.html">รีวิว</a></li> -->
          <!-- <li><a href="about.html">เกี่ยวกับเรา</a></li> -->
          <li><a class="anchorlink" href="index.html#whatisceegadget">cee gadget คืออะไร?</a></li>
          <!-- <li><a href="contacts.html">ติดต่อเรา</a></li> -->
          <li><a class="anchorlink" href="index.html#faq">FAQ/ติดต่อสอบถาม</a></li>
          <!-- <li><a href="login.html">Login/Register</a></li> -->
          <li>
          <div class="form-element search">
            <input type="text" class="form-control" placeholder="">
          </div>
          </li>
        </ul><!-- .menu -->

        <ul class="menu hidden-lg">
          <li class="menu-item-has-children">
            <a href="#">Menu</a>
            <ul class="sub-menu">
              <li class="group">Gadgets</li>
              <li><a href="products.html">- โทรศัพท์มือถือและ tablet</a></li>
              <li><a href="products.html">- Gadgets น่าลอง</a></li>
              <li><a href="products.html">- กล้องและอุปกรณ์ถ่ายภาพ</a></li>
          <li><a class="anchorlink" href="index.html#whatisceegadget">cee gadget คืออะไร?</a></li>
          <li><a class="anchorlink" href="index.html#faq">FAQ/ติดต่อสอบถาม</a></li>
            </ul>
          </li>
          <!-- <li><a href="blog.html">รีวิว</a></li> -->
          <!-- <li><a href="about.html">เกี่ยวกับเรา</a></li> -->
          <!-- <li><a href="contacts.html">ติดต่อเรา</a></li> -->
          <!-- <li><a href="login.html">Login/Register</a></li> -->
          <li>
          <div class="form-element search">
            <input type="text" class="form-control" placeholder="">
          </div>
          </li>
        </ul><!-- .menu -->


      </nav><!-- .main-navigation -->



      <!-- Toolbar -->
      <div class="toolbar pull-right">
        <div class="inner">
          <!-- <a href="#" class="mobile-menu-toggle"><i class="material-icons menu"></i></a> -->

          <!-- <a href="login.html"><i class="material-icons person"></i></a> -->

          <div class="account-btn">
            <a href="#">
            <span class="name">George Raymond Richard Martin</span>
              <i>
                <span class="material-icons person"></span>
              </i>
            </a>
            <ul class="sub-menu">
              <li><a href="login.html">Login</a></li>
              <li><a href="profile.html">Profile</a></li>
              <li><a href="address.html">Shipping Address</a></li>
              </ul>

          </div><!-- .cart-btn -->
          

          <div class="cart-btn">
            <a href="#">
              <i>
                <span class="material-icons local_grocery_store"></span>
                <span class="count">2</span>
              </i>
            </a>
            <!-- Cart Dropdown -->
            <div class="cart-dropdown">
              <div class="cart-item">
                <a href="item-detail.html" class="item-thumb">
                  <img src="img/cart/item01.jpg" alt="Item">
                </a>
                <div class="item-details">
                  <h3 class="item-title"><a href="item-detail.html">Concrete Lamp</a></h3>
                  <h4 class="item-price">1 x $85.90</h4>
                </div>
                <a href="#" class="close-btn">
                  <i class="material-icons close"></i>
                </a>
              </div><!-- .cart-item -->
              <div class="cart-item">
                <a href="item-detail.html" class="item-thumb">
                  <img src="img/cart/item02.jpg" alt="Item">
                </a>
                <div class="item-details">
                  <h3 class="item-title"><a href="item-detail.html">Storage Box</a></h3>
                  <h4 class="item-price">2 x $38.00</h4>
                </div>
                <a href="#" class="close-btn">
                  <i class="material-icons close"></i>
                </a>
              </div><!-- .cart-item -->
              <div class="cart-item">
                <a href="item-detail.html" class="item-thumb">
                  <img src="img/cart/item02.jpg" alt="Item">
                </a>
                <div class="item-details">
                  <h3 class="item-title"><a href="item-detail.html">Storage Box</a></h3>
                  <h4 class="item-price">2 x $38.00</h4>
                </div>
                <a href="#" class="close-btn">
                  <i class="material-icons close"></i>
                </a>
              </div><!-- .cart-item -->

              <div class="cart-subtotal">
                <div class="column">
                  <span>Subtotal:</span>
                </div>
                <div class="column">
                  <span class="amount">$161.90</span>
                </div>
              </div>

              <!-- <div class="cart-subtotal"> -->
              <a href="shopping-cart.html" class="btn btn-default btn-block">View cart</a> 
              <a href="checkout.html" class="btn btn-primary btn-block space-top-none">Checkout</a> 
              <!-- </div> -->

            </div><!-- .cart-dropdown -->
          </div><!-- .cart-btn -->

        </div><!-- .inner -->
      </div><!-- .toolbar -->


      <!-- Toolbar -->
      <!-- <div class="toolbar pull-right">
      <ul class="menu">
          <li class="menu-item-has-children">
            <a href="#">Gadgets</a>
            <ul class="sub-menu">
              <li><a href="#">โทรศัพท์มือถือและ tablet</a></li>
              <li><a href="#">Gadgets น่าลอง</a></li>
              <li><a href="#">กล้องและอุปกรณ์ถ่ายภาพ</a></li>
            </ul>
            </li>
            </ul>
      </div> -->
        <!-- <div class="inner">
          <a href="login.html"><i class="material-icons person"></i></a>
          <a href="login.html"><i class="material-icons local_grocery_store"></i><span class="badge">4</span></a>
        </div> -->
      <!-- .toolbar -->


          <!-- <a href="#" class="mobile-menu-toggle"><i class="material-icons menu"></i></a> -->
      <!-- <div class="pull-right">
      <a href="#" class="mobile-menu-toggle"><i class="material-icons menu"></i></a>
      </div> -->

</div>
</div>

@@if (context.page!='index') {
    @@include('breadcrumb.html')
}

    </header><!-- .navbar.navbar-sticky -->
@@if (context.page!='index') {
    <div class="clearfix padding-bottom-2x">&nbsp;</div>
}
