<div class="slide" style="background-image: url(img/hero-slider/@@img.jpg);">
          <div class="container @@align">
            <span class="h1 from-bottom">@@h1</span>
            <span class="h2 from-bottom">@@h2</span>
            <a href="#" class="btn btn-primary btn-with-icon-right waves-effect waves-light scale-up">
              รายละเอียด
              <i class="material-icons arrow_forward"></i>
            </a>
          </div>
        </div>