<section class="container padding-bottom">
  <div class="row">
    <!-- Products -->
    <div class="col-md-12">
    <!-- <div class="col-md-10 col-md-offset-1"> -->
      <!-- Nav Tabs -->
      <ul class="nav-tabs text-center" role="tablist">
        <li class="active"><a href="#newcomers" role="tab" data-toggle="tab">New Arrivals</a></li>
        <li><a href="#toprated" role="tab" data-toggle="tab">Top Rated</a></li>
        <li><a href="#onsale" role="tab" data-toggle="tab">On Sale</a></li>
      </ul><!-- .nav-tabs -->

      <!-- Tab Panes -->
      <div class="tab-content">

        <!-- #newcomers -->
        <div role="tabpanel" class="tab-pane transition fade scale in active" id="newcomers">
          <div class="row space-top-half">
            @@loop('shop_thumb.html', [
            {
            "title": "Clicky Cube", 
            "img": "th01", 
            "rate" : "0",
            "spacial": "Sale",
            "pr_old": "49",
            "pr": "38",
            "deposit": "30,000"
          },
          {
          "title": "Fidget spinner", 
          "img": "th02", 
          "rate" : "1",
          "spacial": "",
          "pr_old": "0",
          "pr": "234",
          "deposit": "19,000"
        },
        {
        "title": "DJI", 
        "img": "th03", 
        "rate" : "2",
        "spacial": "Sale",
        "pr_old": "0",
        "pr": "299",
        "deposit": "12,000"
      },
      {
      "title": "Nintendo", 
      "img": "th04", 
      "rate" : "3",
      "spacial": "Popular",
      "pr_old": "0",
      "pr": "1900",
      "deposit": "3,000"
    }
    ])
  </div>
  <div class="row space-top-half">
    @@loop('shop_thumb.html', [
    {
    "title": "Samsung S8", 
    "img": "th05", 
    "rate" : "0",
    "spacial": "Sale",
    "pr_old": "49",
    "pr": "38",
    "deposit": "85,000"
  },
  {
  "title": "Ecobee", 
  "img": "th06", 
  "rate" : "1",
  "spacial": "",
  "pr_old": "0",
  "pr": "234",
  "deposit": "5,000"
},
{
  "title": "Eco dot", 
  "img": "th07", 
  "rate" : "2",
  "spacial": "Sale",
  "pr_old": "0",
  "pr": "299",
  "deposit": "23,000"
},
{
  "title": "Irobot", 
  "img": "th08", 
  "rate" : "3",
  "spacial": "Popular",
  "pr_old": "0",
  "pr": "1900",
  "deposit": "39,000"
}
])
</div>

</div><!-- .tab-pane#newcomers -->

<!-- #toprated -->
<div role="tabpanel" class="tab-pane transition fade scale" id="toprated">

  <div class="row space-top-half">
    @@loop('shop_thumb.html', [
    {
    "title": "PopSockets", 
    "img": "th09", 
    "rate" : "0",
    "spacial": "Sale",
    "pr_old": "49",
    "pr": "38",
    "deposit": "1,000"
  },
  {
  "title": "TEAC TN-300", 
  "img": "th10", 
  "rate" : "1",
  "spacial": "",
  "pr_old": "0",
  "pr": "234",
  "deposit": "2,000"
},
{
  "title": "WD", 
  "img": "th11", 
  "rate" : "2",
  "spacial": "Sale",
  "pr_old": "0",
  "pr": "299",
  "deposit": "5,000"
},
{
  "title": "Instax Mini 8", 
  "img": "th12", 
  "rate" : "3",
  "spacial": "Popular",
  "pr_old": "0",
  "pr": "1900",
  "deposit": "75,000"
}
])
</div>
<div class="row space-top-half">
  @@loop('shop_thumb.html', [
  {
  "title": "Sony A9", 
  "img": "th13", 
  "rate" : "0",
  "spacial": "Sale",
  "pr_old": "49",
  "pr": "38",
  "deposit": "39,000"
},
{
  "title": "Stadler Form Otto African Sapele Wood", 
  "img": "th14", 
  "rate" : "1",
  "spacial": "",
  "pr_old": "0",
  "pr": "234",
  "deposit": "1,000"
},
{
  "title": "Brick Marble Click Clock", 
  "img": "th15", 
  "rate" : "2",
  "spacial": "Sale",
  "pr_old": "0",
  "pr": "299",
  "deposit": "5,000"
},
{
  "title": "Microsoft Surface", 
  "img": "th16", 
  "rate" : "3",
  "spacial": "Popular",
  "pr_old": "0",
  "pr": "1900",
  "deposit": "3,000"
}
])
</div>

</div><!-- .tab-pane#toprated -->

<!-- #onsale -->
<div role="tabpanel" class="tab-pane transition fade scale" id="onsale">


  <div class="row space-top-half">
    @@loop('shop_thumb.html', [
    {
    "title": "TEAC TN-300", 
    "img": "th10", 
    "rate" : "1",
    "spacial": "Sale",
    "pr_old": "0",
    "pr": "234",
    "deposit": "10,000"
  },
  {
  "title": "Sony A9", 
  "img": "th13", 
  "rate" : "0",
  "spacial": "Sale",
  "pr_old": "49",
  "pr": "38",
  "deposit": "1,000"
},
{
  "title": "PopSockets", 
  "img": "th09", 
  "rate" : "0",
  "spacial": "Sale",
  "pr_old": "49",
  "pr": "38",
  "deposit": "2,000"
},
{
  "title": "Brick Marble Click Clock", 
  "img": "th15", 
  "rate" : "2",
  "spacial": "Sale",
  "pr_old": "0",
  "pr": "299",
  "deposit": "3,000"
}
])
</div>
<div class="row space-top-half">
  @@loop('shop_thumb.html', [
  {
  "title": "Instax Mini 8", 
  "img": "th12", 
  "rate" : "3",
  "spacial": "Sale",
  "pr_old": "0",
  "pr": "1900",
  "deposit": "60,000"
},
{
  "title": "WD", 
  "img": "th11", 
  "rate" : "2",
  "spacial": "Sale",
  "pr_old": "0",
  "pr": "299",
  "deposit": "3,000"
},
{
  "title": "Stadler Form Otto African Sapele Wood", 
  "img": "th14", 
  "rate" : "1",
  "spacial": "Sale",
  "pr_old": "0",
  "pr": "234",
  "deposit": "5,000"
},
{
  "title": "Clicky Cube", 
  "img": "th01", 
  "rate" : "0",
  "spacial": "Sale",
  "pr_old": "49",
  "pr": "38",
  "deposit": "35,000"
}
])
</div>

</div><!-- .tab-pane#onsale -->
</div><!-- .tab-content -->
</div><!-- .col-lg-9.col-md-8 -->
<!-- Products -->

</div><!-- .row -->
</section><!-- .container-fluid -->