
<section id="faq" class="container padding-top-1x">
<h3 class="text-center padding-top">Comments</h3>
<div class="row container padding-top padding-bottom-3x">
	<div class="col-xs-12">
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>

		<div class="fb-comments" data-width="100%" data-href="http://localhost/eark/cgadget/html/" data-numposts="2"></div>
	</div>
</div>
</section>