

<div class="col-lg-3 col-sm-6">
  <div class="shop-item">
    <div class="shop-thumbnail">
      <span class="special@@spacial">@@spacial</span>
      <span class="item-rating myrate@@rate text-warning">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </span>
      <a href="item-detail.html" class="item-link"></a>
      <img src="img/shop/@@img.jpg" alt="Shop item">
      <div class="shop-item-tools">
        <a href="#" class="add-to-whishlist" data-toggle="tooltip" data-placement="top" title="Wishlist">
          <i class="material-icons favorite_border"></i>
        </a>
        <a href="#" class="add-to-cart">
          <em>Add to Cart</em>
       </a>
     </div>
   </div>
   <div class="shop-item-details">
    <h3 class="shop-item-title">@@title<a href="item-detail.html">

    </a></h3>
    <span class="shop-item-price">
      <span class="old-price oldprice@@pr_old">@@pr_old</span>
      @@pr/วัน (มัดจำ @@deposit)
    </span>
  </div>
</div><!-- .shop-item -->
</div><!-- .col-lg-3.col-sm-6 -->