
<!-- Special Offer -->
<div class="col-lg-3 col-md-4">
  <div class="info-box text-center">
    <h2>Special Offer<br><span class="text-danger">-30%</span></h2>
    <a href="shop-single.html" class="inline">
      <img src="img/shop/special-offer.jpg" alt="Special Offer">
    </a>
    <h3 class="lead text-normal space-bottom-half"><a href="shop-single.html" class="link-title">Retro Flip Down Clock</a></h3>
    <span class="lead text-normal text-gray text-crossed">$800.00</span>
    <span class="h4 text-normal text-danger">$560.00</span>

    <!-- Countdown -->
    <!-- Date Format: month/day/year. "date-time" data attribute is required. -->
    <div class="countdown space-top-half padding-top" data-date-time="07/30/2017 12:00:00">
      <div class="item">
        <div class="days">00</div>
        <span class="days_ref">Days</span>
      </div>
      <div class="item">
        <div class="hours">00</div>
        <span class="hours_ref">Hours</span>
      </div>
      <div class="item">
        <div class="minutes">00</div>
        <span class="minutes_ref">Mins</span>
      </div>
      <div class="item">
        <div class="seconds">00</div>
        <span class="seconds_ref">Secs</span>
      </div>
    </div><!-- .counter -->
  </div><!-- .info-box -->
  <div class="padding-bottom-2x visible-xs"></div>
</div><!-- .col-lg-3.col-md-4 -->
