<!-- <div id="intro"> -->
<section id="intro" class="hero-slide">
  <div class="inner">
    <div class="slide">
    <!-- <div class="container"> -->

      <div id="videobutton">
        <div class="pull-left">
          <!-- Add ".light-skin" class to alter appearance. -->
          <a href="https://www.youtube.com/watch?v=8nrFCSg86BM" class="video-popup-btn">
          <!-- <a href="https://player.vimeo.com/video/135832597?color=77cde3&title=0&byline=0&portrait=0" class="video-popup-btn"> -->
            <i class="material-icons play_arrow"></i>
          </a>
        </div>
        <!-- <p class="space-bottom-2x">เค้าเช่ากันยังไง คลิ้กดูวิดีโอเลยค่ะ</p> -->
      </div>
      <img src="img/hero-slider/home.png">

      </div>
    <!-- </dir> -->
  </dir>
</section>
<!-- </div> -->
